extends ../../layouts/head.pug

block meta_data
  - var head_title = "Exploring Lean 4"
  - var title = "Exploring Lean 4"
  - var institute = "Arizona State University"
  - var theme = "simple"
  - var email = "zilinj@asu.edu"

block css
  style.
    table.small {
      font-size: 60%;
    }