doctype html
html
  head
    meta(charset="utf-8")
    title On spherical Tarski's plank problems
    meta(name="description" content="An invited talk at IMU 2016")
    meta(name="author" content="Zilin Jiang")
    link(rel="stylesheet" href="../reveal.js-3.4.1/css/reveal.css")
    link(rel="stylesheet" href="../reveal.js-3.4.1/css/theme/simple.css")
    link(rel="stylesheet" href="2017-05-28-custom.css")
  body
    .reveal
      .slides
        section.title-slide
          h3
            | On Spherical Tarski's
            br
            | Plank Problem
          p
            small.blue 姜子麟 Zilin Jiang
            br
            small Technion – Israel Institute of Technology
            br
            small 28th May 2017.
          p
            small Joint work with
            | 
            small.blue Саша Полянский Alexandr Polyanskii
        section
          section
            h3 Plank
            figure.stretch
              img(src="2001space.jpg")
              figcaption
                | screencap from 
                i 2001: A Space Odyssey
          section
            h3 Plank
            img.stretch(src="plank.png")
            p A plank (or slab, strip) of width $w$ is part of $\mathbb{R}^d$ that lies between two parallel hyperplanes at distance $w$.
          section
            h3 Tarski's plank problem
            .avatars
              img.avatar(src="tarski.jpg")
              img.fragment(src="disc.png")
              img.fragment(src="convex.png")
            p.fragment The width of $C$ is the smallest width of plank covers $C$.
            p If convex body $C$ is covered by planks, then ...
            p.fragment total width of planks is at least width of $C$.
            p.fragment
              | Proved by 
              span.fragment.highlight-blue Thøger Bang 
              | in 1950.
        section
          section
            h3 Zone
            img.stretch(src="zone.png")
            p A zone of width $\omega$ is part of sphere that lies within spherical distance $\omega/2$ of a given great circle.
          section
            h3 Fejes Tóth's zone conjecture
            .avatars
              img.avatar(src="fejes.jpg")
              img.fragment(data-fragment-index=1 src="satellite.png")
            p
              | The total width of zones covering sphere is at least ... 
              span.fragment(data-fragment-index=0) $\pi$.
            p.fragment(data-fragment-index=2)
              | Research Problems: Exploring a Planet.
              br
              | American Mathematical Monthly, 1973.
          section
            p 1972 Rosta: 3 zones of equal width;
            p.fragment 1974 Linhart: 4 zones of equal width;
            p.fragment
              | 2016 Fodor, Vígh and Zarnócz:
              | if $100$ zones of equal width $w$ cover sphere,
              | then $w \ge 0.02032$;
            .fragment
              .avatars
                img.avatar(src="jiang.png")
                img.avatar(src="polyanskii.png")
              p
                | 2017 J.–Polyanskii: any set of zones
                span.fragment , any dimension
                span.fragment , charaterize the equality cases.
        section
          h3 Plan of talk
          p.fragment.grow Bang's proof of Tarski's plank problem
          p Proof of Fejes Tóth's zone conjecture
        section
          section
            h3 Bang's proof
            figure.stretch
              img(src="w.png" height="100%")
              img.fragment(src="ws.png" height="100%" data-fragment-index=2)
              img.fragment(src="L.png" data-fragment-index=2 height="100%")
            p $\vec{w}_i :=$ vector representing plank $i$.
            p.fragment(data-fragment-index=1)
              | $L := \{\pm \vec{w}_1 \pm \dots \pm \vec{w}_n\}$ 
              span.fragment(data-fragment-index=3) = projection of $\{\pm 1\}^n$.
            .fragment(data-fragment-index=4)
              p.fragment.highlight-red(data-fragment-index=6) Idea 1: $L$ cannot be covered by the planks.
            p.fragment(data-fragment-index=5) Idea 2: $L$ can be embeded in $C$ of large width.
          section
            h3 Bognár's simplification
            p Special case: all planks are centered at O.
            figure.stretch
              img(src="max.png" height="100%")
              img.fragment(src="bognar.png" data-fragment-index=2 height="100%")
            p.fragment(data-fragment-index=1) Claim: $\vec{w}\in L$ achieving max norm is not covered.
            p.fragment(data-fragment-index=2) $|\vec{w}| \ge |\vec{w} \pm 2\vec{w}_i| \implies w$ not covered by plank $i$.
          section
            h3 General case
            p $\vec{w} = \pm \vec{w}_1 \pm \dots \pm \vec{w}_n \in L$ achieves max norm iff
            p $|\epsilon_1 \vec{w}_1 + \dots + \epsilon_n \vec{w}_n|^2$ is maximized on $\{\pm 1\}^n$.
            .fragment(data-fragment-index=1)
              p
                span.blue.fragment(data-fragment-index=2) In general, 
                | plank $i$: $|\vec{w} \cdot \vec{w}_i$
                span.blue.fragment(data-fragment-index=2) $+ b_i$
                | $| \le |\vec{w}_i|^2$.
              p Optimize quadratic function:
              p
                | $\sum \epsilon_i\epsilon_j (\vec{w}_i\cdot\vec{w}_j)$ 
                span.blue.fragment(data-fragment-index=2) $+\sum b_i\epsilon_i$
        section
          h3 Plan of talk
          p.grown.fragment.shrink(data-fragment-index=1) Bang's proof of Tarski's plank problem
          p.fragment.grow(data-fragment-index=1) Proof of Fejes Tóth's zone conjecture
        section
          section
            h3 Fejes Tóth's zone conjecture
            img.stretch(src="zw.png")
            p Suppose $\vec{w}_i$ is vector representing zone $i$.
            p.fragment(data-fragment-index=0)
              | Bang: some $\vec{w} = $
              span.fragment.fade-out(data-fragment-index=1) $\epsilon_1$
              | $\vec{w}_1 + \dots +$
              span.fragment.fade-out(data-fragment-index=1) $\epsilon_n$
              | $\vec{w}_n$ is not covered.
          section
            h3 To Bang or to ...?
            figure.stretch
              img(src="zbang.png")
              img.fragment(src="zmerge.png" data-fragment-index=2)
            p If $|\vec{w}| \le 1$, then $\hat{w}$ is not covered.
            p.fragment(data-fragment-index=1) Otherwise, $\vec{w} = \vec{w}_1 + \dots + \vec{w}_n$ is of big maginitude ...
            p.fragment
              span.fragment.highlight-red we can merge some zones!
          section
            h3 When to merge?
            img.stretch(src="merge.png")
            p.fragment $\angle(\vec{w}_1, \vec{w}_2) \le \alpha_1 + \alpha_2$
          section
            h3 Trignometry
            p $\angle(\vec{w}_1, \vec{w}_2) \le \alpha_1 + \alpha_2$
            p.fragment $\cos \angle(\vec{w}_1, \vec{w}_2) \ge \cos(\alpha_1 + \alpha_2)$
            p.fragment $|\vec{w}_1 + \vec{w}_2|^2 = |\vec{w}_1|^2 + 2|\vec{w}_1||\vec{w}_2|\cos\angle(\vec{w}_1, \vec{w}_2) + |\vec{w}_2|^2$
            p.fragment $\ge \sin^2\alpha_1 + 2\sin\alpha_1\sin\alpha_2\cos(\alpha_1 + \alpha_2) + \sin^2\alpha_2$
            p.fragment $= \dots = \sin(\alpha_1 + \alpha_2)^2$.
            p.fragment Can merge 2 zones when $|\vec{w}_1 + \vec{w}_2| \ge \sin(\alpha_1 + \alpha_2)$.
          section
            h3 Punchline
            p In general, can merge some zones when $|\vec{w}_1 + \dots + \vec{w}_n| \ge \sin(\alpha_1 + \dots + \alpha_n)$.
            p.fragment Assume half of total width $\alpha_1 + \dots + \alpha_n &lt; \pi / 2$.
            p.fragment If $|\vec{w}| \leq 1 $, $\hat{w}$ is not covered.
            p.fragment Otherwise $|\vec{w}| &gt; 1 &gt; \sin(\alpha_1 + \dots + \alpha_n)$, merge!
        section
          section
            h3 Application
          section
            h3 Projective duality
            figure.stretch
              img(src="dual.png")
              img.fragment(src="zdual.png" data-fragment-index=1)
            p Great circle $\leftrightarrow$ Antipodal points
            p.fragment(data-fragment-index=1) Zone $\leftrightarrow$ Antipodal caps
            p.fragment If every great circle intersects (antipodal) caps...
            p.fragment then total radius of caps is at least $\pi/2$.
          section
            h3 Covering a cap
            p The total width of zones covering cap of radius $r$...
            figure.stretch
              img(src="cap.png")
              img.fragment(src="zcap.png")
            p.fragment is at least $2r$.
            p.fragment Conjecture (Fejes Tóth): ... covering spherical convex domain $D$ is at least width of $D$.
        section
          section
            h3 Open problem
          section
            h3 Bang's plank conjecture
            p Measure relative to $C$ in direction normal to plank.
            img.stretch(src="rw.png")
            p.fragment Conjecture: total relative width of planks covering $C$ is at least $1$.
          section
            h3 Bezdek's annulus problem
            .annulus
              img.stretch(src="disc.png")
              .hole.fragment(data-fragment-index=1)
            p
              span.fragment(data-fragment-index=2) Conjecture: 
              | total width of planks covering 
              span.fragment(data-fragment-index=2) punctured 
              | disk is at least diameter.
        section
          small.blue 姜子麟 Zilin Jiang
          br
          small Technion – Israel Institute of Technology
          br
          small jiangzilin@technion.ac.il
    script(src="../reveal.js-3.4.1/lib/js/head.min.js")
    script(src="../reveal.js-3.4.1/js/reveal.js")
    script.
      Reveal.initialize({
        allottedTime: 25 * 60 * 1000,
        controls: false,
        slideNumber: true,
        progress: true,
        history: true,
        dependencies: [
          { src: '../reveal.js-3.4.1/plugin/math/math.js', async: true },
          { src: '../reveal.js-3.4.1/plugin/elapsed-time-bar/elapsed-time-bar.js' }
        ],
      });
