extends ../layouts/default.pug

block head
  include src/head.pug
  - var date = "June 12, 2019"
  - var institute = "Massachusetts Institute of Technology"
  - var email = "zilinj@mit.edu"
  - head_title = "Rainbow structures via algebraic topology"
  - title = "Rainbow structures<br>via algebraic topology"

block main
  include src/iccm.pug
