extends ../layouts/default.pug

block head
  include src/head.pug
  - var date = "July 7, 2022"
  - var institute = "Arizona State University"
  - var email = "zilinj@asu.edu"
  - head_title = "Rainbow structures via algebraic topology"
  - title = "Rainbow structures<br>via algebraic topology"

block main
  include src/iccm.pug
