[submodule "static/slides/revealjs"]
	path = static/slides/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "static/js/raphael.js"]
	path = static/js/raphael.js
	url = https://github.com/DmitryBaranovskiy/raphael.git
