---
layout: default
permalink: /teaching
title: Teaching
---
<main id="main" role="main" class="main">
  {% assign courses = site.data.teaching %}
  <div class="items">
    <h2>Current</h2>
    {% for course in courses %}
      {% if course.canvas %}
      <div class='item'>
        <h3>
          <a href="{{ course.canvas }}">{{ course.number }} {{ course.title }} {{course.semester }}</a>
        </h3>
      </div>
      {% endif %}
    {% endfor %}
    <h2>Previous</h2>
    {% for in writings reversed %}
      {% if course.archive %}
      <div class='item'>
        <h3>
          <a href="{{ course.archive }}">{{ course.number }} {{ course.title }} {{course.semester }}</a>
        </h3>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
