---
layout: default
permalink: /writings
title: Writings
---
<main id="main" role="main" class="main">
  {% assign collaborators = site.data.collaborators %}
  {% assign writings = site.data.writings %}
  <div class="items">
    <h2>Preprints</h2>
    {% for writing in writings reversed %}
      {% if writing.journal == null %}
        {% include partials/writing.html writing=writing %}
      {% endif %}
    {% endfor %}
    <h2>Publication</h2>
    {% for writing in writings reversed %}
      {% if writing.journal %}
        {% include partials/writing.html writing=writing %}
      {% endif %}
    {% endfor %}
  </div>
</main>