---
layout: default
permalink: /writings
title: Writings
---
<main id="main" role="main" class="main constrain--padding">
  {% for writing in site.data.writings %}
    {% if writing.featured == true %}
      <article class="post post--feature">
        <h1 class="post__title feature-title">{% include helpers/generate-feature-title.html title=writing.title %}</h1>
        <div class="post__body">{{ writing.summary | markdownify }}</div>
        <a class="cta post__cta" href="https://arxiv.org/abs/{{ writing.arxiv.id }}" target="_blank">
          <span class="cta__inner">
            Read on arXiv
          </span>
          <svg class="cta__icon">
            <use xlink:href="#icon-external"></use>
          </svg>
        </a>
      </article>
    {% else %}
      <div class="post-wrapper col col--1-1 col--1-2@medium col--1-3@large">
        <article class="post post--small">
          <h1 class="post__title">{{ writing.title }}</h1>
          <div class="post__body">{{ writing.summary | markdownify }}</div>
          <a class="cta post__cta" href="https://arxiv.org/abs/{{ writing.arxiv.id }}" target="_blank">
            <span class="cta__inner">
              Read on arXiv
            </span>
            <svg class="cta__icon">
              <use xlink:href="#icon-external"></use>
            </svg>
          </a>
        </article>
      </div>    
    {% endif %}
  {% endfor %}
</main>