.reveal .colored-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.reveal .red {
  color: #db3236;
}
.reveal .slides section .fragment.highlight-red.visible {
  color: #db3236;
}

.reveal .green {
  color: #3cba54;
}

.reveal .blue {
  color: #4885ed;
}

.reveal .avatar {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  border: none;
  margin: 0 0.5em;
}

.reveal .inline-diagram {
  display: inline-block;
}

.reveal #d3, .reveal #d4 {
  position: relative;
  padding: 12px 24px;
}
#d3_4 {
  margin-top: -20px;
}
#d3_4 .inline-text {
  position: relative;
  top: -90px;
  padding: 0 24px;
}
.reveal #d3_1, .reveal #d4_1 {
  position: absolute;
  left: 105px;
  top: 12px;
}
.reveal #d3_4 {
  position: relative;
}
.reveal .colorful-triangle {
  display: inline-block;
  position: relative;
  top: 12px;
}
#d5, #d6, #d7, #d8, #d9, #d10 {
  display: inline;
}
#d7-5 {
  position: relative;
  top: -120px;
}
#d9-5, #d9-6{
  position: relative;
  top: -150px;
}
.reveal .div-with-margin {
  margin: 24px 0;
}
.reveal .bottom-margin {
  margin-bottom: 24px;
}
#td-5-3-obs {
  padding-bottom: 16px !important;
}
.reveal #knot {
  position: relative;
  bottom: -16px;
}

.reveal .flex-container {
  display: flex;
}
