.blue {
    color: #4885ed;
}
.red {
    color: #db3236;
}
.green {
    color: #0F9D58;
}
.container {
    display: flex;
    align-items: center;
}

.container .col {
    flex: 1
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redacted span {
    position: relative;
    white-space: pre;
}

.redacted span:after {
    background: black;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
}

.reveal .theorem {
    border-radius: 0.5rem;
    border: 0.5rem solid #4885ed;
    margin-top: 0.5rem;
}

.reveal .theorem > p:first-child {
    margin: 0;
    color: white;
    padding-bottom: 0.5rem;
    background: #4885ed;
}

.reveal .conjecture > p:last-child, .reveal .theorem > p:last-child {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}
