doctype html
html
  - var title = "Rainbow odd cycles and other short stories"
    - var coauthors = "Ron Aharoni, Joseph Briggs and Ron Holzman"
  - var revealjs_version = "4.4.0"
  - var revealjs_theme = "simple"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug
