doctype html
html
  - var title = "Forbidden subgraphs<br>and equiangular lines"
  - var institute = "Technion – Israel Institute of Technology"
  - var date = "June 5, 2018"
  - var coauthors = "Саша Полянский (Alexandr Polyanskii)"
  - var email = "jiangzilin@technion.ac.il"
  - var revealjs_version = "3.7.0"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
        include ../includes/contact.pug
    include ../includes/script.pug
