doctype html
html
  - var title = "Forbidden subgraphs<br>and equiangular lines"
  - var coauthors = "Саша Полянский (Alexandr Polyanskii)"
  - var revealjs_version = "3.7.0"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug 
