doctype html
html
  - var head_title = "Colored B치r치ny's theorem"
  - var title = "<span class='colored-text'>Colored</span> B치r치ny's theorem"
  - var revealjs_version = "3.8.0"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous")
    script(src="../raphael.js-2.1.4/raphael.min.js")
    script(src='raphael-diagram.js')
