extends ../../layouts/head.pug

block meta_date
    - var title = "Rainbow Fractional Matchings"
    - var coauthors = "Ron Aharoni and Ron Holzman"
    - var theme = "simple"

block css
    link(rel='stylesheet' href='src/custom.css')
