doctype html
html
  - var title = "Eigenvalues, Forbidden Subgraphs and Ramsey"
  - var institute = "Arizona State University"
  - var date = "June 16, 2022"
  - var coauthors = "Саша Полянский Alexandr Polyanskii"
  - var email = "zilinj@asu.edu"
  - var revealjs_version = "4.3.1"
  - var revealjs_theme = "simple"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include siam.pug
        include ../includes/contact.pug
    include ../includes/script.pug
