.gray {
    color: #383D3D;
}
.blue {
    color: #4885ed;
}
.red {
    color: #db3236;
}
.avatars img {
    height: 4em;
    margin: 0 0.5em;
}
.avatar {
    border-radius: 50%;
    height: 4em;
    width: 4em;
}