doctype html
html
  - var title = "Negligible obstructions and Turán exponents"
  - var institute = "Massachusetts Institute of Technology"
  - var coauthors = "江滔 Tao Jiang and 马杰 Jie Ma"
  - var date = "October 10, 2020"
  - var email = "zilinj@mit.edu"
  - var revealjs_version = "4.3.1"
  - var revealjs_theme = "simple"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug
