head
  meta(charset="utf-8")
  title= head_title || title
  meta(name="author" content="Zilin Jiang")
  link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/css/reveal.css`)
  link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/css/theme/${revealjs_theme}.css`)
  link(rel="stylesheet" href="custom.css")
