script(src=`../reveal.js-${revealjs_version}/lib/js/head.min.js`)
script(src=`../reveal.js-${revealjs_version}/js/reveal.js`)
script.
  Reveal.initialize({
    controls: false,
    slideNumber: true,
    progress: true,
    history: true,
    dependencies: [
      { src: '../reveal.js-#{revealjs_version}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: "../reveal.js-#{revealjs_version}/plugin/math/math.js", async: true }
    ],
  });
