extends ../../layouts/head.pug

block meta_data
    - var head_title = "László Fejes Tóth's zone conjecturey"
    - var title = "László Fejes Tóth's zone conjecture"
    - var theme = "serif"

block css
    link(rel='stylesheet' href='src/custom.css')
