extends ../../layouts/head.pug

block meta_data
    - var head_title = "Colored B치r치ny's theorem"
    - var title = "<span class='colored-text'>Colored</span> B치r치ny's theorem"
    - var theme = "simple"
    if date == "July 30, 2015"
        - theme = "solarized"

block css
    link(rel='stylesheet' href='src/custom.css')
    if date == "July 30, 2015"
        link(rel="stylesheet" href="src/custom-2015-07-30.css")
