footer.iceberg {
  height: 5rem;
  background: url(/assets/images/iceberg.svg);
  background-size: contain;
  background-position: center 100%;
  background-repeat: no-repeat;
  @include media('>=medium') {
    height: 10rem;
  }
}
