@mixin post-body() {
	margin-top: $post-vertical-rythm;
	font-size: 21px;
	line-height: 1.5;

	p {
		margin-bottom: $post-vertical-rythm;
	}

	a {
		@include link(true);
	}	
}

.post {
}

.post__title {
	@include heading1;
}

.post__body {
	@include post-body;
}
