extends ../../layouts/head.pug

block meta_data
    - var head_title = "Rethinking exam preparation in the age of AI"
    - var title = "Rethinking Exam Preparation<br>in the Age of AI"
    - var theme = "serif"

block css
    link(rel='stylesheet' href='src/custom.css')
