extends ../../layouts/head.pug

block meta_data
    - var head_title = "Rethinking homework in the age of AI"
    - var title = "Rethinking Homework<br>in the Age of AI"
    - var theme = "serif"

block css
    link(rel='stylesheet' href='src/custom.css')
