.about {
  p {
    margin-bottom: $post-vertical-rythm;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  h3 {
    @include heading3;

    margin-top: $post-vertical-rythm * 1.8;
    margin-bottom: $post-vertical-rythm * 0.6;
  }

  a {
    @include link(true);
  }
}

.about img.logo {
	display: none;
	@include media('>=medium') {
		display: block;
	}
	float: right;
}
