include ../../layouts/title_slide.pug
section
  section
    h2 Part I
    h3 Eigenvalues
  section
    h4 Adjacency matrix and smallest eigenvalue
    table
      tr
        td $G$
        td $\lambda_1(G)$
      tr
        td $K_n$
        td $-1$
      tr
        td $K_{1,n}$
        td $-\sqrt{n}$
      tr
        td $P_n$
        td $-2\cos\frac{\pi}{n+1}$
    p.fragment $\lim_n \lambda_1(P_n) = -2$
  section
    p
      | Limit of the smallest eigenvalue? 
      span.fragment $-\lambda^*$
    img(src='img/e2n.png' width=600)
    div.fragment
      h3
        span $\lambda^* = \sqrt{\beta}+1/\sqrt{\beta} = $ 
        span(style="font-size:100%") 2.
        span(style="font-size:90%") 0
        span(style="font-size:80%") 1
        span(style="font-size:70%") 9
        span(style="font-size:60%") 8
        span(style="font-size:50%") 0
        span(style="font-size:40%") 0
        span(style="font-size:30%") 8
        span(style="font-size:30%") 8
        span(style="font-size:30%") 7
        span ...
      p where $\beta$ is real root of $x^3 = x + 1$.
  section
    p Characterization of graphs with bounded eigenvalues
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p.fragment
      span.blue Cauchy interlacing theorem
    p.fragment
      | $\mathcal{G}(\lambda)$ is closed under taking subgraphs
      br
      small * all subgraphs are induced
section
  section
    h2 Part II
    h3 Forbidden subgraphs    
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p $\mathcal{G}(\lambda)$ is closed under taking subgraphs
    p Planar graphs are closed under taking minors
    p
      span.blue Wagner's theorem: 
      | no $K_5$ or $K_{3,3}$ minors
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p $\mathcal{G}(\lambda)$ is closed under taking subgraphs
    p
      span.red Question: 
      | Define $\mathcal{G}(\lambda)$ by forbidden subgraphs?
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Question: 
      | Define $\mathcal{G}(\lambda)$ by forbidden subgraphs?
    p.green Simple case $\lambda < 1$
    p.fragment $\lambda_1(K_2) = -1$ hence $K_2 \not\in \mathcal{G}(\lambda)$
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with no edges $\}$
    p.fragment
      span.red Tautology: 
      | Forbid all graphs outside $\mathcal{G}(\lambda)$
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Question [Bussemaker and Neumaier 1992]
      br
      | Can $\mathcal{G}(\lambda)$ be defined by 
      span.red finite 
      | forbidden subgraphs?
    p.fragment $\mathcal{G}(2)$ is complex; it contains all the line graphs
    p.fragment
      span.blue Cameron, Goethals, Seidel, and Shult: 
      | For every connected graph, it is in $\mathcal{G}(2)$ if and only if it is a "generalized line graph" or an "exceptional graph"
    p.fragment
      span.blue Kumar, Rao and Singhi: 
      | $\mathcal{G}(2)$ can be defined by forbidden subgraphs with $\le 10$ vertices
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Question [Bussemaker and Neumaier 1992]
      br
      | Can $\mathcal{G}(\lambda)$ be defined by 
      span.red finite 
      | forbidden subgraphs?
    p.fragment "however, these seem to be very difficult problems"
    div.fragment
      .avatars
        img.avatar(src="img/jiang.png")
        img.avatar(src="img/polyanskii.png")
      p
        span.blue J. and Polyanskii 2022
        br
        | Yes if and only if $\lambda < \lambda^* \approx 2.01980$
  section
    h3 Generalization to signed graphs
    p $\mathcal{G}^\pm(\lambda) = \{$ signed graphs with smallest e.v. $\ge -\lambda\}$
    p.fragment Can $\mathcal{G}^\pm(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment
      span.blue J. and Polyanskii 2022 
      | Yes if and only if $\lambda < \lambda^*$
    p.fragment
      span.blue Motivation [Tidor, Yao, Zhang and Zhao 2022] 
      | Application to spherical two distance sets
  section
    p
      span.blue Application. 
      | For every $λ < λ^*$, there exists $n_0$ s.t.
      br
      span for every symmetric integer matrix
      span $$A = \begin{bmatrix}0 & * & \dots & * \\ * & 0 & \dots & * \\ \vdots  & \vdots  & \ddots & \vdots \\ * & * & \cdots & 0 \end{bmatrix}$$
      span if $\lambda_1(A_0) \ge -λ$ for every principal submatrix $A_0$ of order at most $n_0$, then $\lambda_1(A) \ge -λ$
    p
      span.blue Vijayakumar 1987: 
      | for $λ = 2$, $n_0 = 10$
section
  section
    h2 Part III
    h3 Ramsey
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      | $\mathcal{G}(\lambda)$ can be defined by finite forbidden subgraphs
      br
      | if and only if $\lambda < \lambda^* \approx 2.01980$
    p.red Two cases
    p $\lambda < \lambda^*$ and $\lambda \ge \lambda^*$
  section
    p
      span.blue Case: 
      | For $\lambda < \lambda^*$, $\mathcal{G}(\lambda)$ can be defined by finite forbidden subgraphs
    p.fragment
      span.blue Step 1: 
      | Forbid $K_{1,5}$ because $\lambda_1(K_{1,5}) = -\sqrt{5}$
    p.fragment
      span.red Step 2 (Ramsey-type result): 
      | For every $\ell, m$ and $F$, for every sufficiently large $K_{1,5}$-free connected graph $G$, if $G$ contains $F$, then $G$ contains
      img(src='img/ext_family.png')
      span.fragment "Forbidding $(\ell, m)$-extensions of $F$ effectively forbids $F$ itself in sufficiently large connected graphs"
  section
    p
      span.blue Subcase: 
      | $2 \le \lambda < \lambda^*$
    p
      span.blue Step 1: 
      | Forbid $K_{1,5}$
    p
      span.blue Step 2: 
      | Forbidding $(\ell, m)$-extensions of $F$ effectively forbids $F$ itself in sufficiently large connected graphs
    p
      span.blue Step 3: 
      | Find $\ell, m$ such that all $(\ell, m)$-extensions of $F$ are disjoint from $\mathcal{G}(\lambda)$, for every minimal forbidden subgraph $F$ for "generalized line graphs"
  section
      img(src='img/forb_dn.png' width=550 style='margin: 0')
  section
    p
      span.blue Subcase: 
      | $2 \le \lambda < \lambda^*$
    p
      span.blue Step 1: 
      | Forbid $K_{1,5}$
    p
      span.blue Step 2: 
      | Forbidding $(\ell, m)$-extensions of $F$ effectively forbids $F$ itself in sufficiently large connected graphs
    p
      span.blue Step 3: 
      | Find $\ell, m$ such that all $(\ell, m)$-extensions of $F$ are disjoint from $\mathcal{G}(\lambda)$, for every minimal forbidden subgraph $F$ for "generalized line graphs"
    p
      span.blue Step 4: 
      | Forbid all these extensions
  section
    p
      span.blue Subcase: 
      | $\lambda < 2$
    p Computationally simpler, but conceptually complicated
    p.fragment ...
    p.fragment
      | Last step uses non-effective Ramsey-type result
      br
      span.blue Dickson's lemma 
      br
      | The poset $(\mathbb{N}^n, ≤)$ does not contain infinite antichains
  section
    p
      span.blue Case: 
      | For $\lambda \ge \lambda^*$, $G(\lambda)$ cannot be defined by finite forbidden subgraphs
    p.fragment
      span.red Observation: 
      | if $G(\lambda)$ can be defined by finite forbidden subgraphs, then $G(\lambda + \varepsilon) \setminus G(\lambda) = \varnothing$ for some $\varepsilon$
    p.fragment
      | Suffices to construct graphs to densely fill $(-\infty, -\lambda^*)$
      img(src='img/rowing.png' width=800)
section
  section
    h3 Open problems
    p.fragment
      span.blue Problem A: 
      | Effectivization
    p.fragment
      span.blue Problem B: 
      | Classify all the connected graphs with smallest eigenvalue in $(-λ^*,-2)$. In particular, classify those with sufficiently many vertices
    p.fragment
      span.blue Problem C: 
      | Same problem but for signed graphs
    p.fragment Recently, Wang, Dong, Hou and Li classified signed graphs with spectral radius in $(0, \sqrt{2 + \sqrt{5}})$
  section
    p
      span.blue Problem D: 
      | Forbidden principle submatrices for $\{0,\pm 1\}$-valued symmetric matrices with eigenvalues bounded from below 
      br
      span Connection to Lehmer's Mahler measure problem
    p.fragment
      span.blue Problem E: 
      | Fix $-1 \le \beta < 0 \le \alpha < 1$, determine asymptotic behavior of maximum number of unit vectors in $\mathbb{R}^n$ with pairwise inner product $\alpha$ or $\beta$.
      br
      span Solved when $\alpha + 2\beta < 0$ or $(1 - \alpha) / (\alpha - \beta)< \lambda^*$
if date
  include ../../layouts/contact.pug