{{ define "main" }}
<section id="teaching">
    <div class="info">{{ .Content }}</div>

    {{ range .Site.Data.courses }}
    <article class="institution-group">
        <h3>{{ .institution }}{{ if .role }}<br><span class="role">{{ .role }}</span>{{ end }}</h3>
        {{ range .courses }}
        <div class="course">
            <p>
                {{ if .upcoming }}<span class="new">UPCOMING</span>{{ end }}
                {{ if .ongoing }}<span class="new">ONGOING</span>{{ end }}
                {{ .semester }} &middot; {{ .number }}
            </p>
            <p class="title">
                {{ .title }}{{ if or .canvas .archive }} &middot;{{ end }}
                {{ if .canvas }}<a href="{{ .canvas }}">Canvas</a>{{ end }}
                {{ if and .canvas .archive }} &middot; {{ end }}
                {{ if .archive }}<a href="{{ .archive }}">Archive</a>{{ end }}
            </p>
            {{ if .materials }}
            <div class="links">
                <a href="{{ .materials }}">Course Material</a>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </article>
    {{ end }}
</section>
{{ end }}
