{{ define "main" }}
  <!-- Main Content -->
    <!-- About Section -->
    {{ with .Site.GetPage "about.md" }}
    <section id="about">
      {{ with .Params.profile }}
        <img id="profile-pic" src="{{ .src | safeURL }}" alt="{{ .label }}" data-april-fools-src="{{ .src_april_fools | safeURL }}">
      {{ end }}
      <div class="text-content">
        {{ .Content }}
      </div>
    </section>
    {{ end }}

    <!-- Recent Section -->
    <section id="recent">
      {{ with .Site.GetPage "recent.md" }}
        {{ .Content }}
      {{ end }}  
    </section>
    
    <!-- Vita Section -->
    <section id="vita">
      {{ with .Site.GetPage "education.md" }}
        {{ .Content}}
      {{end }}
    </section>

    <!-- Contact Section -->
    {{ with .Site.GetPage "contact.md" }}
    <section id="contact">
      <h2>{{ .Title }}</h2>
      {{ with .Params.map }}
      <div class="map-container">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" aria-label="{{ .label }}" src="{{ .src | safeURL }}"></iframe>
      </div>
      {{ end }}
      {{ .Content }}
    </section>
    {{ end }}

    <script>
      // Check if it's April 1st
      const today = new Date();
      if (today.getMonth() === 3 && today.getDate() === 1) {
        const profilePic = document.getElementById('profile-pic');
        if (profilePic) {
          profilePic.src = profilePic.dataset.aprilFoolsSrc;
        }
      }
    </script>
{{ end }}