block meta_date
meta(charset="utf-8")
title= head_title || title
meta(name="author" content="Zilin Jiang")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href=`/js/reveal.js/dist/reset.css`)
link(rel="stylesheet" href=`/js/reveal.js/dist/reveal.css`)
link(rel="stylesheet" href=`/js/reveal.js/dist/theme/${theme}.css`)
block css
