section.title-slide
  h3 !{title}
  p
    small.red Zilin Jiang
    if institute
      br
      small= institute
    if date
      br
      small= date
    br
    if coauthors
      small Joint work with !{coauthors}
