extends ../../layouts/head.pug

block meta_data
  - var head_title = "Lies, Bits, and the IMO"
  - var title = "Lies, Bits,<br>and the IMO"
  - var theme = "simple"

block css
  link(rel="stylesheet" href="src/custom.css")
