extends ../../layouts/head.pug

block meta_date
    - var head_title = "Extremal problems in Discrete Geometry"
    - var title = "Extremal Problems in<br> Discrete Geometry"
    - var theme = "serif"

block css
    link(rel='stylesheet' href='src/custom.css')
