doctype html
html
  - var title = "Beyond the classification theorem of Cameron, Goethals, Seidel, and Shult"
  - var coauthors = "Hricha Acharya"
  - var revealjs_version = "5.1.0"
  - var revealjs_theme = "simple"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug
