:root {
    --primary-color: #333;
    --secondary-color: #777;
    --background-color-light: #eee;
    --text-color-dark: #0d0d0d;
    --highlight-color-yellow: #fde995;
    --highlight-color-blue: #a7e0f6;
    --highlight-color-purple: #e1a7fb;
}

body {
    margin: 76px auto 0;
    max-inline-size: 700px;
    inline-size: 100%;
    line-height: 1.6;
    font-size: 18px;
    color: var(--primary-color);
}
section {
    margin-block-end: 32px;
}
h1, h2, h3 {
    line-height: 1.2
}

/* navbar */
nav {
    font-family: 'Spinnaker', sans-serif;
    border-block-end: 1px solid #fff;
    backdrop-filter: saturate(180%) blur(12px);
    background: hsla(0, 0%, 100%, .75);
    position: fixed;
    top: 0;
    padding: 20px;
    width: 700px;
    margin-inline: -20px;
    z-index: 1000;
}
nav.header.scrolled {
    transition: all .4s linear;
    border-bottom: 1px solid #efefef;
}
nav a {
    text-decoration: none;
    color: inherit;
}
nav .brand {
    padding: 0px;
    margin: 0;
    color: inherit;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
}
nav .menu-collapse {
    float: right;
    position: relative;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
}
nav li {
    line-height: 40px;
}
nav li > a {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-inline: 12px;
    font-size: 14px;
    display: inline-block;
}
.hover-pill {
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: var(--background-color-light);
    border-radius: 20px;
    z-index: -1;
    transition: opacity 0.3s linear, left 0.3s ease, width 0.3s ease;
    opacity: 0;
}
/* menu icon */
.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px 4px;
}

.menu-icon .bar1, .menu-icon .bar2, .menu-icon .bar3 {
    width: 18px;
    height: 2px;
    background-color: var(--primary-color);
    margin-block: 3px;
    transition: 0.4s;
}

.menu-icon.menu-open .bar1 {
    transform: translate(0, 5px) rotate(-45deg);
}

.menu-icon.menu-open .bar2 {opacity: 0;}

.menu-icon.menu-open .bar3 {
    transform: translate(0, -5px) rotate(45deg);
}

/* footer */
.footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #93a1a1;
    text-align: center;
    letter-spacing: 2px;
    padding: 40px;
    font-size: 10px;
}

/* home */
#about {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-block-start: -12px;
    margin-block-end: 2px;
}
#about p, #recent p, #vita p {
    font-family: Georgia, Times, "Times New Roman", serif;    
}
#about a, #recent a, #vita a {
    color: inherit;
    text-decoration-color: var(--highlight-color-yellow);
    /* https://www.color-hex.com/color-palette/103743 */
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}
#about img {
    width: 230px;
    border-radius: 6px;
}
#about .text-content {
    flex: 1;
}
#recent a {
    text-decoration-color: var(--highlight-color-blue);
}
#recent p:first-child {
    margin-block-start: 0;
}
#vita img {
    float: right;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}
/* writings */
.writing {
    border: 1px solid #dadce0;
    border-radius: 6px;
    margin-block-end: 16px;
}
.writing p {
    margin: 0;
    line-height: 1.4;
    margin-block-end: 2px;
}
.writing p.title {
    font-size: 16px;
}
.writing p.authors a {
    text-decoration-color: var(--highlight-color-yellow);
}
/* writings and talks */
#writings .info, #talks .info, #teaching .info {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
}
/* writings and teaching */
.writing p.authors, .writing p.publication, .course p.title {
    font-size: 14px;
    color: var(--secondary-color);
}
.writing p.authors a, .writing p.publication a, .course p.title a {
    color: var(--secondary-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}
.writing p.publication a, .course p.title a {
    text-decoration-color: var(--highlight-color-purple);
}
/* talks and teaching */
.year-group, .institution-group {
    padding: 16px 0 0;
    border: 1px solid #dadce0;
    border-radius: 6px;
    margin-block-end: 28px;
    position: relative;
    font-size: 16px;
}
.year-group h3, .institution-group h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #dadce0;
    font-size: 16px;
}
.talk:not(:last-child), .course:not(:last-child) {
    border-bottom: 1px solid #dadce0;
}
.talk p, .course p {
    margin: 0;
    line-height: 1.4;
    margin-block-end: 2px;
    font-size: 16px;
}
.talk p.title, .talk p.occasion {
    font-size: 14px;
    color: var(--secondary-color);   
}
/* writings, talks, teaching */
#writings, #talks, #teaching {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.writing, .talk, .course {
    padding: 16px 18px;
    position: relative;
}
.writing p.title span.new, .talk p span.new, .course p span.new {
    font-size: 10px;
    background-color: #adfa1d;
    padding: 4px;
    border-radius: 2px;
    vertical-align: 1.5px;
    margin-right: 2px;
}
.writing .links, .talk .links, .course .links {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 14px;
}
.writing .links a, .talk .links a, .course .links a {
    color: #555;
    text-decoration-color: var(--highlight-color-blue);
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    padding: 0 2px;
}
/* Media query for screen sizes 720px and smaller */
@media (max-width: 799px) {
    body {
        margin: 0;
        max-width: 100%;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box; /* Ensure padding is included in the width */
    }
    nav {
        position: relative;
        padding: 5px 0 10px;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    nav .menu-collapse {
        height: 0;
        overflow: hidden;
        transition: 0.4s;
        display: block;
    }
    nav .menu-collapse {
        float: none;
    }
    nav .menu-collapse ul {
        margin: 0;
        padding: 0;
    }
    nav .show-menu {
        height: 40px;
    }
    nav a.brand {
        margin-left: 5px;
    }
    .menu-icon {
        display: block;
        float: right;
    }
    #about {
        margin-block-start: 24px;
        display: block;
        margin-block-end: 18px;
    }
    #about img {
        margin-block-end: -10px;
    }
    #vita img {
        display: none;
    }
    .writing p.publication {
        padding-right: 70px;
    }
    .talk .occasion {
        padding-right: 90px;
    }
    .course p {
        padding-right: 56px;
    }
}
