extends ../layouts/default.pug

block head
  include src/head.pug
  - var institute = "Massachusetts Institute of Technology"
  - var date = "February 10, 2020"
  - var email = "zilinj@mit.edu"

block main
  include src/main.pug
