extends ../layouts/default.pug

block head
  include src/head.pug
  - var institute = "Arizona State University"
  - var date = "September 16, 2024"
  - var email = "zilinj@asu.edu"

block main
  include src/main.pug
