extends ../../layouts/head.pug

block meta_data
    - var title = "Topological Method for the Colored Bárány's Theorem"
    - var theme = "solarized"

block css
    link(rel='stylesheet' href='src/custom.css')