<header class="masthead constrain">
  <div class="masthead__wrapper">
    <div class="masthead-bar">
      <a href="/">
        <h1 class="masthead-title">Zilin Jiang</h1>
      </a>
      <div class="masthead-bar__menu">
        {% include partials/masthead-link.html link="" title="Home" %}
        {% include partials/masthead-link.html link="writings" title="Writings" %}
        {% include partials/masthead-link.html link="talks" title="Talks" %}
        {% include partials/masthead-link.html link="teaching" title="Teaching" %}
      </div>
    </div>
  </div>  
</header>
