<article class="item">
  <h3>
    {% include helpers/format-date.html date=talk.date weekDay=false %}.
    {{ talk.occasion }}, {{ talk.location }}
  </h3>
  <p class="item__secondary-actions">
    <span>{{ talk.title }}</span>
    {% if talk.announcement != null %}
    <span><a href="{{ talk.announcement }}" target="_blank">announcement</a></span>
    {% endif %}
    {% if talk.video != null %}
    <span><a href="{{ talk.video }}" target="_blank">video</a></span>
    {% endif %}
    {% if talk.slides != null %}
    <span><a href="slides/{{ talk.slides }}" target="_blank">slides</a></span>
    {% endif %}
    {% if talk.blog != null %}
    <span><a href="{{ talk.blog }}" target="_blank">blog</a></span>
    {% endif %}
    {% if talk.arxiv != null %}
    <span><a href="https://arxiv.org/abs/{{ talk.arxiv }}" target="_blank">arxiv</a></span>
    {% endif %}
  </p>
</article>
