section
  section
    p
      span.blue Extremal properties 
      | of 
      span.green simple geometric objects
  section
    svg(height="100" width="160" transform="scale(1.5)")
      circle(cx="40" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
    p
      | What's the 
      span.blue minimum 
      | number of distinct distances between $n$ 
      span.green points 
      | on a plane?
    p.eighty-percent
      | Erdős 1946 · Moser 1952 · Chung 1984
      br
      | Chung, Szemerédi & Trotter 1992 · Székely 1993 
      br
      | Solymosi & Tóth 2001 · Tardos 2003 · Katz & Tardos 2004
      br
      | Guth & Katz 2015
    p Geometry of ruled surfaces, polynomial method.
  section
    svg(height="140" width="160" transform="scale(1.5)")
      line(x1="30" y1="100" x2="130" y2="100" stroke="#121426" stroke-width="1.5")
      line(x1="30" y1="100" x2="80" y2="20" stroke="#121426" stroke-width="1.5")
      line(x1="130" y1="100" x2="80" y2="20" stroke="#121426" stroke-width="1.5")
      line(x1="30" y1="100" x2="105" y2="60" stroke="#121426" stroke-width="1.5")
      line(x1="130" y1="100" x2="55" y2="60" stroke="#121426" stroke-width="1.5")
      line(x1="80" y1="20" x2="80" y2="100" stroke="#121426" stroke-width="1.5")
      circle(cx="30" cy="100" r="2" stroke="#121426" stroke-width="2")
      circle(cx="80" cy="100" r="2" stroke="#121426" stroke-width="2")
      circle(cx="130" cy="100" r="2" stroke="#121426" stroke-width="2")
      circle(cx="80" cy="20" r="2" stroke="#121426" stroke-width="2")
      circle(cx="80" cy="73.33" r="2" stroke="#121426" stroke-width="2")
      circle(cx="55" cy="60" r="2" stroke="#121426" stroke-width="2")
      circle(cx="105" cy="60" r="2" stroke="#121426" stroke-width="2")
    p
      | Given $n$ 
      span.green points 
      | not all collinear in $\mathbb{R}^2$,
      br
      | what's the 
      span.blue minimum 
      | number of 
      span.green ordinary lines 
      | ?
    p.eighty-percent 
      | Sylvester 1893 · Gallai 1944
      br
      | Dirac & Motzkin 1951 · Kelly & Moser 1958
      br
      | Csima & Sawyer 1993 · Green & Tao 2012
    p
      | Menelaus's theorem, Euler formula
      br
      | Cayley–Bacharach theorem, sum-product estimate
  section
    svg(height="110" width="160" transform="scale(1.5)")
      circle(cx="42" cy="53" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="53" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="118" cy="53" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="61" cy="20" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="99" cy="20" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="61" cy="86" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="99" cy="86" r="19" stroke="#121426" stroke-width="2" fill="transparent")
    p.small
      | What's the 
      span.blue densest 
      | way to arrange 
      br
      | non-overlapping 
      span.green spheres 
      | in $\mathbb{R}^n$?
    p.eighty-percent
      | Kepler 1611 · Gauss 1831 · Thue 1890 
      br
      | Fejes Tóth 1940 · Hales 1998 
      br
      | Cohn, Kumar, Miller, Radchenko, Viazovska 2016
    p Poisson summation formula, modular forms, automated proof checking
  section
    svg(height="140" width="160")
      circle(cx="40" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="40" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="60" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="100" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="10" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="30" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="50" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="70" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="120" cy="90" r="2" stroke="#121426" stroke-width="2" fill="transparent")
      text(x="80" y="130" font-size="0.5em" text-anchor="middle") Distinct distances
    svg(viewBox="0 10 160 140" height="140" width="160" style="margin-left: 2em; margin-right: 2em")
      line(x1="30" y1="100" x2="130" y2="100" stroke="#121426" stroke-width="1.5")
      line(x1="30" y1="100" x2="80" y2="20" stroke="#121426" stroke-width="1.5")
      line(x1="130" y1="100" x2="80" y2="20" stroke="#121426" stroke-width="1.5")
      line(x1="30" y1="100" x2="105" y2="60" stroke="#121426" stroke-width="1.5")
      line(x1="130" y1="100" x2="55" y2="60" stroke="#121426" stroke-width="1.5")
      line(x1="80" y1="20" x2="80" y2="100" stroke="#121426" stroke-width="1.5")
      circle(cx="30" cy="100" r="2" stroke="#121426" stroke-width="2")
      circle(cx="80" cy="100" r="2" stroke="#121426" stroke-width="2")
      circle(cx="130" cy="100" r="2" stroke="#121426" stroke-width="2")
      circle(cx="80" cy="20" r="2" stroke="#121426" stroke-width="2")
      circle(cx="80" cy="73.33" r="2" stroke="#121426" stroke-width="2")
      circle(cx="55" cy="60" r="2" stroke="#121426" stroke-width="2")
      circle(cx="105" cy="60" r="2" stroke="#121426" stroke-width="2")
      text(x="80" y="140" font-size="0.5em" text-anchor="middle") Ordinary lines
    svg(viewBox="0 0 160 140" height="140" width="160")
      circle(cx="42" cy="53" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="53" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="118" cy="53" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="61" cy="20" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="99" cy="20" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="61" cy="86" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="99" cy="86" r="19" stroke="#121426" stroke-width="2" fill="transparent")
      text(x="80" y="130" font-size="0.5em" text-anchor="middle") Sphere packing
section
  section
    svg.fragment.appeared.fragment-move-right(data-fragment-index="1" width="160" style="margin-right: 1em")
      defs
        clipPath#zone-clip
          circle(cx="80" cy="50" r="48" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="50" r="48" stroke="#121426" stroke-width="2" fill="transparent")
      rect(x="20" y="35" width="120" height="30" fill="rgba(0,0,0,0.25)" clip-path="url(#zone-clip)")
      rect(x="20" y="35" width="120" height="30" fill="rgba(0,0,0,0.25)" clip-path="url(#zone-clip)" transform="rotate(60 80 50)")
      rect(x="20" y="35" width="120" height="30" fill="rgba(0,0,0,0.25)" clip-path="url(#zone-clip)" transform="rotate(120 80 50)")
      text(x="80" y="130" font-size="0.5em" text-anchor="middle") Zone covering
    svg.fragment.fade-out(data-fragment-index="1" width="160" style="margin-left: 1em")
      line(x1="80" y1="0" x2="80" y2="100" stroke="#121426" stroke-width="2")
      line(x1="80" y1="0" x2="80" y2="100" stroke="#121426" stroke-width="2" transform="rotate(60 80 50)")
      line(x1="80" y1="0" x2="80" y2="100" stroke="#121426" stroke-width="2" transform="rotate(120 80 50)")
      text(x="80" y="130" font-size="0.5em" text-anchor="middle") Equiangular lines
  section
    div(style="margin-top: -1em")
      .gravity
        .satellite
      .explore-planet
        .planet
          .surface
          .crater1
          .crater2
          .crater3
    p How high do $n$ satellites need to fly?
    .fragment
      p
        | Each satellite sees a 
        span.green zone 
        | of the 
        span.green sphere
      svg(viewBox="-85 0 470 300" width="470" height="300")
        g
          defs
            radialGradient#hemisphere(cx="50%" cy="30%")
              stop(offset="50%" stop-color="rgba(0,0,0,0.01)")
              stop(offset="100%" stop-color="rgba(0,0,0,0.1)")
          circle(cx="150" cy="150" r="150" fill="url(#hemisphere)")
          ellipse(cx="150" cy="100" rx="139" ry="30" stroke="#121426" stroke-width="2" fill="transparent")
          ellipse(cx="150" cy="200" rx="139" ry="30" stroke="#121426" stroke-width="2" fill="transparent")
          ellipse(cx="150" cy="150" rx="149" ry="30" stroke="#121426" stroke-width="2" fill="transparent" stroke-dasharray="5,5")
          text(x="335" y="154" font-size="0.5em" text-anchor="middle") width
          path(d="M308,138 a100,100 10 0 0 -7,-35" fill="none" stroke="#121426" stroke-width="2" marker-end="url(#arrow)")
          path(d="M308,162 a100,100 10 0 1 -7,35" fill="none" stroke="#121426" stroke-width="2" marker-end="url(#arrow)")
  section
    p
      | What's the 
      span.blue minimum 
      | width of $n$ equal 
      span.green zones
      br
      | covering the unit 
      span.green sphere
      | ?
    svg.fragment(width="550" height="150" style="margin-top: 0.3em")
      g
        circle(cx="75" cy="75" r="75" fill="url(#hemisphere)")
        ellipse(cx="75" cy="75" rx="74" ry="15" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5")
        ellipse(cx="75" cy="75" rx="74" ry="15" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5" transform="rotate(15 75 75)")
        ellipse(cx="75" cy="75" rx="74" ry="15" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5" transform="rotate(-15 75 75)")
      g(transform="translate(200 0)")
        circle(cx="75" cy="75" r="75" fill="url(#hemisphere)")
        ellipse(cx="75" cy="75" rx="74" ry="15" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5")
        circle(cx="75" cy="75" r="74" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5")
        ellipse(cx="75" cy="75" rx="74" ry="15" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5" transform="rotate(90 75 75)")
      g(transform="translate(400 0)")
        circle(cx="75" cy="75" r="75" fill="url(#hemisphere)")
        ellipse(cx="75" cy="75" rx="74" ry="15" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5")
        ellipse(cx="75" cy="75" rx="74" ry="7.5" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5" transform="rotate(60 75 75)")
        ellipse(cx="75" cy="75" rx="74" ry="7.5" stroke="#121426" stroke-width="1" fill="transparent" stroke-dasharray="5,5" transform="rotate(-60 75 75)")
    p.fragment Is it $\pi / 3$ for $n = 3$?
    p.fragment
      | Distribute $n$ great circles to 
      span.blue minimize 
      | the greatest distance between a 
      span.green point 
      | and the nearest 
      span.green great circle
      | .
  section
    p
      | What's the 
      span.blue minimum 
      | width of $n$ equal 
      span.green zones
      br
      | covering the unit 
      span.green sphere
      | ?
    .conjecture.with-avatar
      p Fejes Tóth's zone conjecture
      img.avatar(src="fejes.png")
      p 
        | The width of $n$ equal 
        span.green zones 
        | covering the 
        br
        | unit 
        span.green sphere 
        | is 
        span.blue at least 
        | $\pi / n$.
    p
    .theorem.fragment
      p
        | Fejes Tóth's zone conjecture 1973 
        span.fragment &middot; J.–Polyanskii 2017
      p 
        | The total
        | width of $n$ 
        span.fragment.strike equal
        span.green  zones 
        | covering
        br
        | the unit 
        span.green sphere 
        | is 
        span.blue at least 
        | $\pi$ 
        span.fragment in any dimension; 
        span.fragment Characterization of equality cases.
  section
    p 
      | A  
      span.green plank 
      | in $\mathbb{R}^d$ is
    svg(viewBox="0 10 340 180" width="340" height="180")
      defs
        linearGradient#plank-gradient
          stop(offset="0%" stop-color="rgba(0,0,0,0")
          stop(offset="100%" stop-color="rgba(0,0,0,0.15")
        marker#arrow(markerWidth="4" markerHeight="4" refX="0" refY="2" orient="auto" markerUnits="strokeWidth")
          path(d="M0,0 L0,4 L4,2 z" fill="#121426")
      rect(x="30" y="50" width="280" height="100" fill="rgba(0,0,0,0.15)")
      rect(x="5" y="50" width="25" height="100" fill="url(#plank-gradient)")
      rect(x="320" y="50" width="25" height="100" fill="url(#plank-gradient)" transform="rotate(180 327.5 100)")
      line(x1="5" y1="50" x2="335" y2="50" stroke="#121426" stroke-width="2" stroke-linecap="round")
      line(x1="5" y1="150" x2="335" y2="150" stroke="#121426" stroke-width="2" stroke-linecap="round")
      line(x1="175" y1="85" x2="175" y2="60" marker-end="url(#arrow)" stroke="#121426" stroke-width="2")
      line(x1="175" y1="110" x2="175" y2="140" marker-end="url(#arrow)" stroke="#121426" stroke-width="2")
      text(x="175" y="105" font-size="0.75em" text-anchor="middle") width
      text(x="175" y="34" font-size="0.75em" text-anchor="middle") hyperplane
      text(x="175" y="180" font-size="0.75em" text-anchor="middle") hyperplane
    .conjecture.with-avatar.fragment(style="margin-top: 0.5em")
      p Tarski's plank problem
      img.avatar(src="tarski.jpg")
      p
        | What's the 
        span.blue minimum 
        | total width of 
        span.green planks 
        | covering a given 
        span.green convex body
        | ?
  section.eighty-percent
    p What's the 
      span.blue minimum 
      | total width of 
      span.green planks 
      | covering a unit 
      span.green disk
      | ?
    svg(viewBox="0 120 500 280" height="280" width="500")
      circle.fragment.appeared.to-ellipse(cx="250" cy="250" r="125" fill="rgba(0,0,0,0.2)" data-fragment-index="4")
      g.fragment.appeared.move-down(transform="translate(0 25)" data-fragment-index="1")
        g.fragment.appeared.move-plank(data-fragment-index="4")
          line(x1="80" y1="100" x2="410" y2="100" stroke="#121426" stroke-width="2" stroke-linecap="round")
          line(x1="80" y1="150" x2="410" y2="150" stroke="#121426" stroke-width="2" stroke-linecap="round")
          rect(x="105" y="100" width="280" height="50" fill="rgba(0,0,0,0.15)")
          rect(x="80" y="100" width="25" height="50" fill="url(#plank-gradient)")
          rect(x="395" y="100" width="25" height="50" fill="url(#plank-gradient)" transform="rotate(180 402.5 125)")
      g.fragment.fade-out(data-fragment-index="3")
        g.fragment.fade-up(data-fragment-index="2")
          g(transform="translate(0, 25)")
            line(x1="80" y1="100" x2="410" y2="100" stroke="#121426" stroke-width="2" stroke-linecap="round")
            line(x1="80" y1="150" x2="410" y2="150" stroke="#121426" stroke-width="2" stroke-linecap="round")
            rect(x="105" y="100" width="280" height="50" fill="rgba(0,0,0,0.15)")
            rect(x="80" y="100" width="25" height="50" fill="url(#plank-gradient)")
            rect(x="395" y="100" width="25" height="50" fill="url(#plank-gradient)" transform="rotate(180 402.5 125)")
        g.fragment.fade-up(data-fragment-index="2")
          g(transform="translate(0, 75)")
            line(x1="80" y1="100" x2="410" y2="100" stroke="#121426" stroke-width="2" stroke-linecap="round")
            line(x1="80" y1="150" x2="410" y2="150" stroke="#121426" stroke-width="2" stroke-linecap="round")
            rect(x="105" y="100" width="280" height="50" fill="rgba(0,0,0,0.15)")
            rect(x="80" y="100" width="25" height="50" fill="url(#plank-gradient)")
            rect(x="395" y="100" width="25" height="50" fill="url(#plank-gradient)" transform="rotate(180 402.5 125)")
        g.fragment.fade-down(data-fragment-index="2")
          g(transform="translate(0, 175)")
            line(x1="80" y1="100" x2="410" y2="100" stroke="#121426" stroke-width="2" stroke-linecap="round")
            line(x1="80" y1="150" x2="410" y2="150" stroke="#121426" stroke-width="2" stroke-linecap="round")
            rect(x="105" y="100" width="280" height="50" fill="rgba(0,0,0,0.15)")
            rect(x="80" y="100" width="25" height="50" fill="url(#plank-gradient)")
            rect(x="395" y="100" width="25" height="50" fill="url(#plank-gradient)" transform="rotate(180 402.5 125)")
        g.fragment.fade-down(data-fragment-index="2")
          g(transform="translate(0, 225)")
            line(x1="80" y1="100" x2="410" y2="100" stroke="#121426" stroke-width="2" stroke-linecap="round")
            line(x1="80" y1="150" x2="410" y2="150" stroke="#121426" stroke-width="2" stroke-linecap="round")
            rect(x="105" y="100" width="280" height="50" fill="rgba(0,0,0,0.15)")
            rect(x="80" y="100" width="25" height="50" fill="url(#plank-gradient)")
            rect(x="395" y="100" width="25" height="50" fill="url(#plank-gradient)" transform="rotate(180 402.5 125)")
      defs
        radialGradient#hemisphere-2(cx="50%" cy="30%")
          stop(offset="50%" stop-color="rgba(0,0,0,0.01)")
          stop(offset="100%" stop-color="rgba(0,0,0,0.1)")
      g.fragment.fade-down(data-fragment-index="6")
        path(d="M 62.5 325 a 1 1 0 0 1 375 0 a 3 1 0 0 1 -375 0 z" fill="url(#hemisphere-2)")
      defs
        clipPath#cut-off-1
          rect(x="80" y="100" width="44" height="300")
        clipPath#cut-off-2
          rect(x="125" y="100" width="300" height="300")
        clipPath#cut-off-3
          rect(x="130" y="100" width="120" height="300")
        clipPath#cut-off-4
          rect(x="250" y="100" width="200" height="300")
      g.fragment.fade-down(data-fragment-index="7")
        path(d="M 83 298 A 20 28 -20 0 1 352 377" fill="none" stroke="#121426" stroke-width="2" clip-path="url(#cut-off-1)" stroke-dasharray="5,5")
        path(d="M 83 298 A 20 28 -20 0 1 352 377" fill="none" stroke="#121426" stroke-width="2" clip-path="url(#cut-off-2)")
        path(d="M 141 275 A 20 28 -20 0 1 412 357" fill="none" stroke="#121426" stroke-width="2" clip-path="url(#cut-off-3)" stroke-dasharray="5,5")
        path(d="M 141 275 A 20 28 -20 0 1 412 357" fill="none" stroke="#121426" stroke-width="2" clip-path="url(#cut-off-4)")
      g.fragment(data-fragment-index="8")
        g(transform="matrix(1,0.3,-1,0.5,300,300)")
          line(x1="165" y1="43" x2="165" y2="38" marker-end="url(#arrow)" stroke="#121426" stroke-width="2")
          line(x1="165" y1="65" x2="165" y2="70" marker-end="url(#arrow)" stroke="#121426" stroke-width="2")
        text(x="411" y="380" style="font-family: STIXGeneral-Italic" font-size="0.5em" text-anchor="middle") w
      g.fragment(data-fragment-index="9")
        line(x1="395" y1="230" x2="360" y2="250" marker-end="url(#arrow)" stroke="#121426" stroke-width="2" fill="none" stroke-dasharray="5,5")
        text(x="411" y="230" style="font-family: STIXGeneral-Italic" font-size="0.5em" text-anchor="middle") πw
    .flex-container
      div(style="flex: 2")
        p.fragment(data-fragment-index="8") Plank of width $w$
        p.fragment(data-fragment-index="10") Planks cover disk
        p.fragment(data-fragment-index="13") $\sum w_i \ge 2$
      div(style="flex: 3")
        p.fragment(data-fragment-index="9") Archimedes: Arch of area $\pi w$
        p.fragment(data-fragment-index="11") Arches cover hemisphere
        p.fragment(data-fragment-index="12") $\sum \pi w_i \ge 2\pi$
  section
    p
      | What's the 
      span.blue minimum 
      | total width of 
      span.green planks 
      br
      | covering a given 
      span.green convex body 
      | $C$?
    .theorem.fragment.with-avatar(data-fragment-index="1")
      p
        | Tarski's plank conjecture 
        span.fragment(data-fragment-index="3") 1932 
        span.fragment(data-fragment-index="4") · Bang 1951
      img.avatar(src="tarski.jpg")
      p
        | If 
        span.green convex body 
        | $C$ is covered by 
        span.green planks
        | , then their total width is 
        span.blue at least 
        | the 
        span.fragment(data-fragment-index="2").highlight-red width 
        | of $C$.
    svg.fragment(width="600" height="100" style="margin-top: 1em" data-fragment-index="2")
      circle(cx="50" cy="50" r="50" fill="rgba(0,0,0,0.1)")
      rect(x="150" y="0" width="100" height="100" fill="rgba(0,0,0,0.1)")
      polygon(points="100,0 200,100 0,100" fill="rgba(0,0,0,0.1)" transform="translate(300 0)")
      line(x1="0" y1="1" x2="600" y2="1" stroke="#121426" stroke-width="2" fill="none" stroke-dasharray="5,5")
      line(x1="0" y1="99" x2="600" y2="99" stroke="#121426" stroke-width="2" fill="none" stroke-dasharray="5,5")
      line(x1="550" y1="40" x2="550" y2="10" marker-end="url(#arrow-1)" stroke="#121426" stroke-width="2")
      line(x1="550" y1="60" x2="550" y2="90" marker-end="url(#arrow-1)" stroke="#121426" stroke-width="2")
      text(x="550" y="57" fill="#DB4437" font-size="0.5em" text-anchor="middle") width
section
  section.eighty-percent
    .flex-container
      .col
        svg(width="250" height="120" style="margin-top: 1em")
          defs
            linearGradient#plank-gradient-2
              stop(offset="0%" stop-color="rgba(0,0,0,0")
              stop(offset="100%" stop-color="rgba(0,0,0,0.15")
            marker#arrow-2(markerWidth="4" markerHeight="4" refX="0" refY="2" orient="auto" markerUnits="strokeWidth")
              path(d="M0,0 L0,4 L4,2 z" fill="#121426")
          polygon(points="100,0 200,100 0,100" fill="rgba(0,0,0,0.1)" transform="translate(10 0)")
          line(x1="0" y1="1" x2="220" y2="1" stroke="#121426" stroke-width="2" stroke-dasharray="5,5")
          line(x1="0" y1="99" x2="220" y2="99" stroke="#121426" stroke-width="2" stroke-dasharray="5,5")
          line(x1="7" y1="40" x2="7" y2="5" marker-end="url(#arrow-2)" stroke="#121426" stroke-width="1")
          line(x1="7" y1="60" x2="7" y2="95" marker-end="url(#arrow-2)" stroke="#121426" stroke-width="1")
          rect(x="30" y="35" width="160" height="30" fill="rgba(0,0,0,0.15)")
          rect(x="15" y="35" width="15" height="30" fill="url(#plank-gradient-2)")
          rect(x="205" y="35" width="15" height="30" fill="url(#plank-gradient-2)" transform="rotate(180 205 50)")
          line(x1="15" y1="35" x2="205" y2="35" stroke="#121426" stroke-width="1")
          line(x1="15" y1="65" x2="205" y2="65" stroke="#121426" stroke-width="1")
          text(x="200" y="53" fill="#121426" style="font-family: STIXGeneral-Italic" font-size="0.5em" text-anchor="middle") w
          line(x1="200" y1="44" x2="200" y2="40" marker-end="url(#arrow-2)" stroke="#121426" stroke-width="1")
          line(x1="200" y1="56" x2="200" y2="60" marker-end="url(#arrow-2)" stroke="#121426" stroke-width="1")
          text(x="7" y="55" fill="#121426" style="font-family: STIXGeneral-Italic" font-size="0.5em" text-anchor="middle") W
          text(x="90" y="120" fill="#DB4437" font-size="0.5em" text-anchor="middle") relative width = 
          text(x="165" y="120" fill="#DB4437" style="font-family: STIXGeneral-Italic" font-size="0.5em" text-anchor="middle") w/W
        svg.fragment(width=250 height=220 data-fragment-index=1)
          circle(cy=120 cx=105 r=60 stroke="#121426" stroke-width="2" fill="rgba(0,0,0,0.25)")
          circle(cy=120 cx=105 r=10 stroke="#121426" stroke-width="2" fill="white")
      .col(style="flex: 3")
        .conjecture
          p Bang's plank conjecture 1951
          p
            | Total 
            span.red relative width 
            | of planks covering
            br
            | a convex body is at least $1$.
        .conjecture.fragment(style="margin-top: 0.5em" data-fragment-index=1)
          p Bezdek's annulus conjecture 2003
          p Total width of planks covering an annulus with a small hole at center is at least the diameter.
        .conjecture.fragment(style="margin-top: 0.5em" data-fragment-index=2)
          p Bezdek
          p Let $R$ be a region obtained from the unit square by removing an axis-parallel square of side 1/2 from its interior. Then the total width of planks covering $R$ is at least 1.
  section.eighty-percent
    .conjecture
      p Reformulation of Bang's plank conjecture 1951
      p Let $C$ be a convex set inscribed in the unit cube $[0, 1]^d$, and let $I_1, I_2, \dots, I_d \subset [0, 1]$ be intervals. If for every $x \in C$ there exists $i \in [d]$ such that $x_i ∈ I_i$, then $\sum_i=1^d \lvert I_i \rvert \ge 1$.
    p A fractional plank is a non-negative measurable function on the interval $[0,1]$. Fractional planks $f_1, \dots, f_d$ form a fractional cover of the set $C \subset \mathbb{R}^d$ if $\sum_{i=1}^d f(x_i) \ge 1$ holds for every $x \in C$.
    .conjecture.fragment(style="margin-top: 0.5em")
      p Aharoni, Holzman, Krivelevich, and Meshulam 2022
      p Let $C$ be a convex set inscribed in the unit cube $[0, 1]^d$, and let $f_1,\dots, f_d$ be fractional planks that form a fractional cover of C. Then the total width of these functions must be at least 2/d.
  section.eighty-percent
    .theorem
      p Zhao 2022
      p If a polynomial $p \in \mathbb{R}[x_1, \dots , x_d]$ of degree $n$ has a nonzero restriction to the unit sphere $S^{d-1} \subset \mathbb{R}^d$ and attains its maximum absolute value on $S^{d-1}$ at a point $x$ then $x$ is at angular distance at least $π/(2n)$ from the intersection of the zero set of $p$ with $S^{d-1}$.
    .theorem(style="margin-top: 0.5em")
      p Ortega-Moreno 2021
      p If a polynomial $p \in \mathbb{C}[x_1, \dots , x_d]$ of degree $n$ has a nonzero restriction to the unit sphere $S^{2d-1} \subset \mathbb{C}^d$ and attains its maximum absolute value on $S^{2d-1}$ at a point $x$ then $x$ is at angular distance at least $\arcsin(1/\sqrt{n})$ from the intersection of the zero set of $p$ with $S^{2d-1}$.
  section.eighty-percent
    .conjecture
      p Glazyrin, A. Polyanskii, and R. Karasev 2022
      p If $p_1, \dots,p_n \in \mathbb{R}[x_1,\dots,x_d]$ are nonzero polynomials and $\delta_1, \dots ,\delta_n > 0$ are such that $\sum_{i=1}^{n}\delta_k \deg p_k \le 1$, then there exists $x \in B^d \subset \mathbb{R}^d$ such that for every $k \in \{1,\dots,n\}$, the point $x$ is at distance at least $\delta_k$ from the zero set of $p_k$.
    .conjecture.fragment(style="margin-top: 0.5em")
      p Glazyrin, A. Polyanskii, and R. Karasev 2022
      p If $p_1, \dots,p_n \in \mathbb{R}[x_1,\dots,x_d]$ have nonzero restrictions to $S^{d-1} \subset \mathbb{R}^d$ and $\delta_1, \dots ,\delta_n > 0$ are such that $\sum_{i=1}^{n}\delta_k \deg p_k \le \pi/2$, then there exists $x \in S^{d-1} \subset \mathbb{R}^d$ such that for every $k \in \{1,\dots,n\}$, the point $x$ is at angular distance at least $\delta_k$ from the intersection of the zero set of $p_k$ with $S^{d-1}$.
section
  section
    svg.fragment.fade-out(data-fragment-index="1" width="160" style="margin-right: 1em")
      defs
        clipPath#zone-clip-clip
          circle(cx="80" cy="50" r="48" stroke="#121426" stroke-width="2" fill="transparent")
      circle(cx="80" cy="50" r="48" stroke="#121426" stroke-width="2" fill="transparent")
      rect(x="20" y="35" width="120" height="30" fill="rgba(0,0,0,0.25)" clip-path="url(#zone-clip-clip)")
      rect(x="20" y="35" width="120" height="30" fill="rgba(0,0,0,0.25)" clip-path="url(#zone-clip-clip)" transform="rotate(60 80 50)")
      rect(x="20" y="35" width="120" height="30" fill="rgba(0,0,0,0.25)" clip-path="url(#zone-clip-clip)" transform="rotate(120 80 50)")
      text(x="80" y="130" font-size="0.5em" text-anchor="middle") Zone covering
    svg.fragment.appeared.fragment-move-left(data-fragment-index="1" width="160" style="margin-left: 1em")
      line(x1="80" y1="0" x2="80" y2="100" stroke="#121426" stroke-width="2")
      line(x1="80" y1="0" x2="80" y2="100" stroke="#121426" stroke-width="2" transform="rotate(60 80 50)")
      line(x1="80" y1="0" x2="80" y2="100" stroke="#121426" stroke-width="2" transform="rotate(120 80 50)")
      text(x="80" y="130" font-size="0.5em" text-anchor="middle") Equiangular lines
  section
    p
      span.green Equiangular lines 
      | in $\mathbb{R}^n$ 
      | are lines through origin 
      | pairwise separated by the same angle
    svg(width="300" height="204" viewBox="0,0 300,204")
      line(x1="100" y1="0" x2="100" y2="200" stroke="#121426" stroke-width="2")
      line(x1="100" y1="0" x2="100" y2="200" stroke="#121426" stroke-width="2" transform="rotate(60 100 100)")
      line(x1="100" y1="0" x2="100" y2="200" stroke="#121426" stroke-width="2" transform="rotate(120 100 100)")
    svg(viewBox="-102,-102 204,204" width="204" height="204")
      polygon(points="0,-100 86.6,-50 86.6,50 0,100 -86.6,50 -86.6,-50" fill="transparent" stroke="#121426" stroke-width=2)
      polygon(points="0,-55 43.3,20 -43.3,20" fill="transparent" stroke="#121426" stroke-width=2)
      path(d="M-86.6,-50 L0,-57 L86.6,-50 L44,21 L0,100 L-44,21 L-86.6,-50 M0,-57 L0,-100 M44,21 L86.6 50 M-44,21 L-86.6,50" fill="transparent" stroke="#121426" stroke-width=2)
      polygon(points="0,55 43.3,-20 -43.3,-20" fill="transparent" stroke="#121426" stroke-width=2 stroke-dasharray="5,5")
      path(d="M-86.6,50 L0,57 L86.6,50 L44,-21 L0,-100 L-44,-21 L-86.6,50 M0,57 L0,100 M44,-21 L86.6,-50 M-44,-21 L-86.6,-50" fill="transparent" stroke="#121426" stroke-width=2 stroke-dasharray="5,5")
    p.fragment
      | What's the 
      span.blue maximum 
      | number of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$?
    table.fragment.eighty-percent.td-centered
      tr
        td $n$
        td 2
        td.red 3-4
        td 5
        td 6
        td.red 7-14
        td ...
        td.red 23-41
        td 42
        td 43
      tr
        td max
        td 3
        td.red 6
        td 10
        td 16
        td 28
        td ...
        td.red 276
        td 276-288
        td 344
  section.eighty-percent
    p
      | What's the 
      span.blue maximum 
      | number of 
      span.green equiangular lines 
      | in $\mathbb{R}^n$?
    .flex-container
      .col
        .theorem(style="height:120px; margin-right: 10px")
          p Gerzon 1973
          p
            span.blue At most 
            | $\frac{1}{2}n(n+1)$
      .col
        .theorem.fragment(style="height:120px; margin-left: 10px")
          p de Caen 2000
          p
            span.blue At least 
            | $cn^2$
    p.fragment Angles $\to$ 90&deg; as $n\to\infty$
    p.fragment.red What happens if the angles are held fixed?
  section.eighty-percent
    p(style="margin-top: 0")
      | What's the 
      span.blue maximum 
      | number $E_\alpha(n)$ of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$ with a fixed angle $\arccos\alpha$?
    table
      tbody
        tr.fragment
          td Lemmens, Seidel 1973
          td $E_{1/3}(n) = 2(n-1)$ for $n \ge 15$
        tr.fragment
          td Neumann 1973
          td $E_{\alpha}(n) \le 2n$, unless $1/\alpha$ is odd
        tr.fragment
          td Neumaier 1989
          td $E_{1/5}(n) = \lfloor \frac{3}{2}(n-1) \rfloor$ for $n \ge n_0$
        tr.fragment
          td Bukh 2016
          td $E_{\alpha}(n) \le c_\alpha n$
        tr.fragment
          td
            | Balla, Dräxler, 
            br
            | Sudakov, Keevash 2018
          td
            | $E_{\alpha}(n) \le 1.93n$
            br
            | for $n \ge n_0(\alpha)$ if $\alpha \neq 1/3$
    .conjecture.fragment(style="margin-top: 1em")
      p Bukh's conjecture on equiangular lines with fixed angle
      p $E_{1/(2k-1)}(n) \approx \frac{kn}{k-1}$. $E_{1/7}(n) \approx \frac{4}{3}n$.
  section.eighty-percent
    p(style="margin-top: 0")
      | What's the 
      span.blue maximum 
      | number $E_\alpha(n)$ of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$ with a fixed angle $\arccos\alpha$?
    .conjecture
      p Conjecture J.–Polyanskii
      p $E_{\alpha}(n) \approx \frac{kn}{k-1}$, where $k = k(\lambda)$, $\lambda = \frac{1-\alpha}{2\alpha}$.
    p.fragment
      span.red Spectral radius order 
      | $k(\lambda) := $ smallest $k$ such that
      br
      | $\exists$ $k$-vertex graph $G$ whose adjacency matrix has spectral radius $= \lambda$
    .flex-container
      .col
        table.fragment.td-centered
          tbody
            tr
              td $\alpha$
              td $\lambda$
              td $G$
              td $k$
              td $E_\alpha(n)$
            tr
              td $\tfrac{1}{3}$
              td $1$
              td
                svg(height=40 width=42 viewBox='-4 -8 38 40')
                  path(d="M0 16 L30 16" fill="transparent" stroke="#121426" stroke-width=2)
                  circle(cx=0 cy=16 r=4 fill="#121426")
                  circle(cx=30 cy=16 r=4 fill="#121426")
              td $2$
              td $2n$
            tr
              td $\tfrac{1}{5}$
              td $2$
              td
                svg(height=44 width=38 viewBox='-4 -10 38 44')
                  path(d="M15 0 L30 30 L0 30 L15 0" fill="transparent" stroke="#121426" stroke-width=2)
                  circle(cx=15 cy=0 r=4 fill="#121426")
                  circle(cx=30 cy=30 r=4 fill="#121426")
                  circle(cx=0 cy=30 r=4 fill="#121426")
              td $3$
              td $\tfrac{3n}{2}$
            tr
              td $\frac{1}{7}$
              td $3$
              td
                svg(viewBox='-4 -10 38 42' width=34 height=45)
                  path(d="M0 0 L30 0 L30 30 L0 30 L0 0 L30 30 M30 0 L0 30" fill="transparent" stroke="#121426" stroke-width=2)
                  circle(cx=30 cy=0 r=4 fill="#121426")
                  circle(cx=30 cy=30 r=4 fill="#121426")
                  circle(cx=0 cy=30 r=4 fill="#121426")
                  circle(cx=0 cy=0 r=4 fill="#121426")
              td $4$
              td $\tfrac{4n}{3}$
      .col
        .theorem.fragment(style="margin-top: 0.5em")
          p J.–Polyanskii 2018
          p True for all $\lambda \le \sqrt{2 + \sqrt{5}}$.
        svg.fragment(height=100 width=400)
          path(d="M0 50 L400 50" fill="transparent" stroke="#121426" stroke-width=2)
          circle(cx=50 cy=50 r=4 fill="#121426")
          path(d="M0 5 L10 5" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(45 30)")
          circle(cx=112 cy=50 r=4 fill="#121426")
          path(d="M0 10 L5 0 L10 10" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(107 30)")
          circle(cx=200 cy=50 r=4 fill="#121426")
          path(d="M5 0 L10 10 L0 10 L5 0" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(195 30)")
          circle(cx=350 cy=50 r=4 fill="#121426")
          path(d="M0 0 L10 0 L10 10 L0 10 L0 0 L10 10 M10 0 L0 10" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(345 30)")
          g.fragment
            text(x="210" y="80" fill="#121426" font-size="0.75em" text-anchor="start") 2.058 barrier
            path(d="M210 50 L400 50"  fill="transparent" stroke="rgba(0,0,0,0.5)" stroke-width=8)
  section.eighty-percent
    p(style="margin: 0")
      | What's the 
      span.blue maximum 
      | number $E_\alpha(n)$ of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$ with a fixed angle $\arccos\alpha$?
    .theorem.fragment(style="margin-top: 0.5em")
      p J., Tidor, Yao, Zhang, Zhao 2019
      p
        | $E_\alpha(n) = \lfloor \frac{k}{k-1}(n-1) \rfloor$ for $n \ge n_0(\alpha)$ if $k(\lambda) < \infty$;
        br
        | $E_\alpha(n) = n+o(n)$ otherwise.
section
  section.eighty-percent
    .theorem
      p J., Tidor, Yao, Zhang, Zhao 2019
      p
        | Multiplicity of 
        span.fragment.highlight-red(data-fragment-index=1) second 
        | largest eigenvalue of an $n$-vertex 
        span.fragment.highlight-red(data-fragment-index=2) connected 
        | graph of 
        span.fragment.highlight-red(data-fragment-index=3) bounded degree 
        | is 
        span.blue at most 
        | $Cn/\log\log n$.
    div(style="margin-top: 1em")
      svg.fragment(viewBox="-100 -100 200 200" width=200 height=200 data-fragment-index=1)
        polygon(points="0,-60 -52,-30 -52,30 0,60 52,30 52,-30" fill="transparent" stroke="#121426" stroke-width=2)
        g
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(60 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(120 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(180 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(-120 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(-60 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
      svg.fragment(viewBox='-100 -120 200 200' width=200 height=200 style="margin: 0 1em" data-fragment-index=2)
        g(transform="translate(0 -40)")
          polygon(points="0,-30 26,15 -26,15" fill="none" stroke="#121426" stroke-width=2)
          circle(cx=0 cy=-30 r=4 fill="#121426")
          circle(cx=26 cy=15 r=4 fill="#121426")
          circle(cx=-26 cy=15 r=4 fill="#121426")
        g(transform="translate(34.6 20)")
          polygon(points="0,-30 26,15 -26,15" fill="none" stroke="#121426" stroke-width=2)
          circle(cx=0 cy=-30 r=4 fill="#121426")
          circle(cx=26 cy=15 r=4 fill="#121426")
          circle(cx=-26 cy=15 r=4 fill="#121426")
        g(transform="translate(-34.6 20)")
          polygon(points="0,-30 26,15 -26,15" fill="none" stroke="#121426" stroke-width=2)
          circle(cx=0 cy=-30 r=4 fill="#121426")
          circle(cx=26 cy=15 r=4 fill="#121426")
          circle(cx=-26 cy=15 r=4 fill="#121426")
      svg.fragment(viewBox='-100 -110 200 200' width=200 height=200 data-fragment-index=3)
        polygon(points="0,-80 76.1,-24.7 47,64.7 -47,64.7 -76.1,-24.7" fill="transparent" stroke="#121426" stroke-width=2)
        circle(cx=0 cy=-80 r=4 fill="#121426")
        circle(cx=76.1 cy=-24.7 r=4 fill="#121426")
        circle(cx=47 cy=64.7 r=4 fill="#121426")
        circle(cx=-47 cy=64.7 r=4 fill="#121426")
        circle(cx=-76.1 cy=-24.7 r=4 fill="#121426")
        polygon(points="0,-40 23.5,32.4 -38,-12.4 38,-12.4 -23.5,32.4" fill="transparent" stroke="#121426" stroke-width=2)
        circle(cx=0 cy=-40 r=4 fill="#121426")
        circle(cx=38 cy=-12.4 r=4 fill="#121426")
        circle(cx=23.5 cy=32.4 r=4 fill="#121426")
        circle(cx=-23.5 cy=32.4 r=4 fill="#121426")
        circle(cx=-38 cy=-12.4 r=4 fill="#121426")
        path(d="M0,-80 L0,-40 M76.1,-24.7 L38,-12.4 M47,64.7 L23.5,32.4 M-47,64.7 L-23.5,32.4 M-76.1,-24.7 L-38,-12.4" stroke="#121426" stroke-width=2)
      p.fragment
        | Cayley graph of $\mathrm{PSL}(2,p)$ has 
        br
        | second eigenvalue multiplicity at least $\sqrt[3]{n}$
  section.eighty-percent
    p
      | What is the 
      span.blue maximum 
      | second eigenvalue multiplicity of 
      br
      | an $n$-vertex connected graph of bounded degree?
    p.fragment
      | What is the 
      span.blue maximum 
      | second eigenvalue multiplicity of 
      br
      | an $n$-vertex 
      span.red Cayley 
      | graph of bounded degree?
    p.fragment
      | Gromov, Colding–Minicozzi, Kleiner
      br
      | Lee–Makarychev: Constant for abelian groups
  section.eighty-percent
    p.fragment
      | What's the 
      span.blue maximum 
      | number of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$?
    table.fragment.td-centered
      tr
        td $n$
        td 18
        td 19
        td 20
        td 21
        td 22
        td 23-41
        td 42
      tr
        td max
        td 57-59
        td 72-74
        td 90-94
        td 126
        td 176
        td 276
        td 276-288
    .conjecture.fragment(style="margin-top: 0.5em")
      p Zauner's conjecture 1999
      p 
        span.blue Maximum 
        | number of 
        span.green equiangular lines  
        | in $\mathbb{C}^n$ is $n^2$.
  section.eighty-percent
    p
      | What is the 
      span.blue maximum 
      | number of 
      span.green unit vectors 
      | in $\mathbb{R}^n$ such that pairwise inner products are either $\alpha$ or $\beta$?
    .fragment
      h3
        span $\lambda^* = \sqrt{\beta}+1/\sqrt{\beta} = $ 
        span(style="font-size:100%") 2.
        span(style="font-size:90%") 0
        span(style="font-size:80%") 1
        span(style="font-size:70%") 9
        span(style="font-size:60%") 8
        span(style="font-size:50%") 0
        span(style="font-size:40%") 0
        span(style="font-size:30%") 8
        span(style="font-size:30%") 8
        span(style="font-size:30%") 7
        span ...
      p where $\beta$ is real root of $x^3 = x + 1$.
  section
    p Forbidden subgraphs
    h4 Adjacency matrix, and smallest eigenvalue
    table
      tbody
        tr
          td $G$
          td $A_G$
          td $\lambda_1(G)$
        tr
          td $K_n$
          td $J - I$
          td $-1$
    p.fragment Classification of graphs with bounded eigenvalues
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p.fragment
      span.blue Observation: 
      | Cauchy interlacing theorem 
      span.fragment
        | implies
        br
        | $\mathcal{G}(\lambda)$ is closed under taking (induced) subgraphs
    p.fragment
      span.red Question: 
      span Define $\mathcal{G}(\lambda)$ by forbidden subgraphs?
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Question: 
      | Define $\mathcal{G}(\lambda)$ by forbidden subgraphs?
    p.green Simple case $\lambda < 1$
    p.fragment $\lambda_1(K_2) = -1$ hence $K_2 \not\in \mathcal{G}(\lambda)$
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with no edges $\}$
    p.fragment
      span.red Tautology: 
      | Forbid all graphs outside $\mathcal{G}(\lambda)$
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Bussemaker and Neumaier 1992: 
      | For which $\lambda \in \mathbb{R}$, can $\mathcal{G}(\lambda)$ be defined by 
      span.red finite 
      | forbidden subgraphs?
    p.fragment $\mathcal{G}(2)$ is complex; it contains all the line graphs
    p.fragment
      span.blue Cameron, Goethals, Seidel, and Shult: 
      | For every connected graph, it is in $\mathcal{G}(2)$ if and only if it is "generalized line graph" or "exceptional graph".
    p.fragment
      span.blue Kumar, Rao and Singhi: 
      | $\mathcal{G}(2)$ can be defined by forbidden subgraphs with $\le 10$ vertices      
  section(data-auto-animate)
    p
      span.red Bussemaker and Neumaier 1992: 
      | For which $\lambda \in \mathbb{R}$, can $\mathcal{G}(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment "however, these seem to be very difficult problems"
    .fragment
      p
        span.blue J. and Polyanskii 2022: 
        | For $\lambda < \lambda^* \approx 2.01980$, yes; otherwise, no.
  section
    h3 Generalization to signed graphs
    p.fragment $\mathcal{G}^\pm(\lambda) = \{$ signed graphs with smallest e.v. $\ge -\lambda\}$
    p.fragment
      span.red Question: 
      | Can $\mathcal{G}^\pm(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment
      span.blue J. and Polyanskii 2022: 
      | Yes if and only if $\lambda < \lambda^*$
    p.fragment $\mathcal{G}^\mp(\lambda) = \{$ signed graphs with largest e.v. $\le \lambda\}$
    p.fragment
      span.red Question: 
      | Can $\mathcal{G}^\mp(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment
      span.blue Corollary 
      | Yes if and only if $\lambda < \lambda^*$
  section
    h3 Spherical two-distance sets
    p
      | $\{ v_1, \dots, v_N \in \mathbb{R}^d \colon$ each $v_i$ is a unit vector
      br
      | and $\langle v_i, v_j \rangle = \alpha$ or $\beta\}$
    p.fragment Fix $-1 \le \beta < 0 \le \alpha < 1$
    p.red.fragment $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
  section(data-auto-animate)
    p $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
    p
      span.red Problem: 
      | Determine $N_{\alpha, \beta}(d)$ for large $d$
      br
      | In particular, determine $\lim_{d \to \infty} N_{\alpha, \beta}(d)/d$
    p.fragment
      span.blue J., Tidor, Yao, Zhang, and Zhao 2021 
      br
      | For "equiangular" case $\beta = -\alpha$
      | $$N_{\alpha, -\alpha}(d) = \frac{k}{k-1}d + O(1)$$
      | where $k$ is "spectral radius order" of $\frac{1-\alpha}{2\alpha}$
  section
    p $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
    p
      span.red Problem: 
      | Determine $\lim_{d \to \infty} N_{\alpha, \beta}(d)/d$
    p.blue.fragment J., Tidor, Yao, Zhang, Zhao 2022
    ul
      li.fragment Lower bound on $N_{\alpha, \beta}(d)$, which depends only on $p = \lfloor -\alpha/\beta \rfloor + 1$ and $\lambda = \frac{1-\alpha}{\alpha-\beta}$
      li.fragment Matching upper bound for large $d$ when $p \in \{1,2\}$ or $\lambda \in \{1, \sqrt2, \sqrt3\}$; e.g. $N_{2/5,-1/5}(d) = 3d + O(1)$
    p.fragment
      span.blue J. and Polyanskii 2022: 
      | Matching upper bound for large $d$ when $\lambda < \lambda^*$
  section
    p
      span.blue Problem A: 
      | Classify all the connected graphs with smallest eigenvalue in $(-λ^*,-2)$. In particular, classify those that have sufficiently many vertices.
    p.fragment
      span.blue Problem B: 
      | Same problem but for signed graphs
    p.fragment
      span.blue Problem C: 
      | Prove matching upper bound for $N_{\alpha, \beta}(d)$ when $p \ge 3$ and $\lambda \ge \lambda^*$. Breaking the $\lambda^*$ barrier.  
