doctype html
html
  - var head_title = "Extremal problems in Discrete Geometry"
  - var title = "Extremal Problems in<br> Discrete Geometry"
  - var institute = "Arizona State University"
  - var date = "July 23, 2021"
  - var revealjs_version = "3.8.0"
  - var revealjs_theme = "serif"
  - var email = "zilinj@asu.edu"
  include ../includes/head.pug  
  body
    .reveal
      .slides
        include main.pug
    include ../includes/script.pug
  script.
    Reveal.configure({ transition: 'fade' })