extends ../layouts/default.pug

block head
  include src/head-exam.pug
  - var institute = "Arizona State University"
  - var date = "November 17, 2025"
  - var email = "zilinj@asu.edu"

block main
  include src/exam.pug
