extends ../../layouts/head.pug

block meta_date
    - var head_title = "Open problems in discrete geometry"
    - var title = "Open problems<br>in discrete geometry"
    - var institute = "Arizona State University"
    - var date = "September 28, 2023"
    - var email = "zilinj@asu.edu"
    - var theme = "simple"
block css
    link(rel='stylesheet' href='src/custom.css')
