doctype html
html
  - var title = "Rainbow structures<br>via algebraic topology"
  - var institute = "Massachusetts Institute of Technology"
  - var coauthors = "Ron Aharoni and Ron Holzman"
  - var date = "June 12, 2019"
  - var revealjs_version = "3.8.0"
  - var email = "zilinj@mit.edu"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include iccm.pug
        include ../includes/contact.pug
    include ../includes/script.pug
    script.
      Reveal.configure({
        keyboard: {
          39: 'next',
          37: 'prev'
        }
      })
