doctype html
html
  - var title = "Rainbow Fractional Matchings"
  - var coauthors = "Ron Aharoni and Ron Holzman"
  - var revealjs_version = "3.7.0"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug
