doctype html
html
  - var title = "Open problems in discrete geometry"
  - var institute = "Arizona State University"
  - var date = "September 28, 2023"
  - var email = "zilinj@asu.edu"
  - var revealjs_version = "4.4.0"
  - var revealjs_theme = "simple"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include tops.pug
        include ../includes/contact.pug
    include ../includes/script.pug
