<footer class="footer text-center">
    <div class="container">
        Proudly designed and built with all the love in the world.
    </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a[href^='http']");
        links.forEach(link => {
            if (link.hostname !== window.location.hostname) {
                link.setAttribute("target", "_blank");
                link.setAttribute("rel", "noopener noreferrer");
            }
        });
    });

    const internalLinksToOpenNewWindow = [
        "/findliner",
        "/slides/"
    ];

    internalLinksToOpenNewWindow.forEach(linkPath => {
        const isWildcard = linkPath.endsWith("/");

        const links = isWildcard
            ? document.querySelectorAll(`a[href^='${linkPath}']`)
            : document.querySelectorAll(`a[href='${linkPath}']`);
        
        links.forEach(link => {
            link.setAttribute("target", "_blank");
        });
    });
</script>