<nav aria-label="main navigation" class="header">
    <a class="brand" href="/">{{ $.Site.Title }}</a>
    <div class="menu-icon" onclick="menuIconFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="menu-collapse">
        <ul>
            {{ range .Site.Menus.main }}
            <li{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }} class="active"{{ end }}>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        <div class="hover-pill"></div>
    </div>
      
    <script>
        function menuIconFunction(x) {
            x.classList.toggle("menu-open");
            x.nextElementSibling.classList.toggle("show-menu");
        }
    </script>
    <script>
        const header = document.querySelector('.header');
        window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            header.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
        }
        });
    </script>
    <script>
        const navItems = document.querySelectorAll('.header ul>li');
        const hoverPill = document.querySelector('.hover-pill');
        const activeLink = document.querySelector('.header ul>li.active');

        function movePillToLink(link) {
            const linkRect = link.getBoundingClientRect();
            const parentRect = link.parentElement.parentElement.getBoundingClientRect();

            hoverPill.style.width = `${linkRect.width}px`;
            hoverPill.style.left = `${linkRect.left - parentRect.left}px`;
            hoverPill.style.opacity = '1'; // Make the pill fully visible
        }

        // Move the pill to the active link on page load
        if (activeLink) {
            movePillToLink(activeLink);
        } else {
            hoverPill.style.opacity = '0'; // No active link, keep pill transparent
        }

        navItems.forEach(item => {
            const link = item.querySelector('a');
            
            item.addEventListener('mouseenter', () => {
                movePillToLink(link);
            });

            item.addEventListener('mouseleave', () => {
                if (activeLink) {
                    movePillToLink(activeLink); // Move back to active link on mouse leave
                } else {
                    hoverPill.style.opacity = '0'; // No active link, keep pill transparent
                }
            });
        });
    </script>
</nav>
