<nav aria-label="main navigation" class="header">
    <a class="brand" href="/">{{ $.Site.Title }}</a>
    <div class="menu-icon" onclick="menuIconFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="menu-collapse">
        <ul>
            {{ range .Site.Menus.main }}
            <li{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }} class="active"{{ end }}>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
      
    <script>
        function menuIconFunction(x) {
            x.classList.toggle("menu-open");
            x.nextElementSibling.classList.toggle("show-menu");
        }
    </script>
    <script>
        const header = document.querySelector('.header');
        window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            header.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
        }
        });
    </script>
</nav>
