section.title-slide
  h3 关于线性代数的五个小故事
  p
    small.red 姜子麟
    br
    small 以色列理工学院
    br
    small 2018 年 3 月 14 日 于 北京大学
section
  section
    img.stretch(src="img/book_1.jpg")
  section
    img.stretch(src="img/book_2.png")
  section
    img.no-shadow.stretch(src="img/book_3.jpg")
  section
    img.stretch(src="img/book_5.jpg")
section
  section
    h3 五个小故事
    p.fragment.highlight-red 奇数小镇
    p 奇数距离
    p 三角区域
    p 零钱风波
    p 等角线集
  section
    h3.red 奇数小镇
    p 奇数小镇上生活着 $n$ 个居民
    ol.fragment
      li 任何一个俱乐部只能有奇数个会员
      li 任何两个俱乐部只能有偶数个公共会员
    p.fragment 最多可能组建多少个俱乐部呢？
  section
    img.stretch.no-shadow(src="img/odd_town.jpg")
    table
      tbody
        thead
          td 
          td 居民 1
          td 居民 2
          td 居民 3
        tr
          td 俱乐部 1
          td 1
          td 1
          td 0
        tr
          td 俱乐部 2
          td 1
          td 1
          td 1
        tr
          td 俱乐部 3
          td 0
          td 1
          td 1
  section
    p
      span $A$
      span.fragment(data-fragment-index=1) $A^T$
      span $ = \begin{bmatrix} - & \mathbf{a_1} & - \\ - & \mathbf{a_2} & - \\ & \vdots & \\ - & \mathbf{a_m} & - \end{bmatrix}$
      span.fragment(data-fragment-index=1) $\begin{bmatrix} | & | & & | \\ \mathbf{a_1} & \mathbf{a_2} & \dots & \mathbf{a_m} \\ | & | & & | \end{bmatrix}$
    p.fragment $$= \begin{bmatrix}|C_1| & |C_1 \cap C_2| & \dots & |C_1 \cap C_m| \\ |C_2 \cap C_1| & |C_2| & \dots & |C_2 \cap C_m| \\ \vdots & \vdots & \ddots & \vdots \\ |C_m \cap C_1| & |C_m \cap C_2| & \dots & |C_m| \end{bmatrix}$$
  section
    p $$M := AA^T \equiv \begin{bmatrix}1 & & & \\ & 1 & & \\ & & \ddots & \\ & & & 1\end{bmatrix}$$
    p.fragment(data-fragment-index=1) $\det(M) \equiv 1$
    p
      span.fragment(data-fragment-index=3) $m =$ 
      span.fragment(data-fragment-index=2) $\mathrm{rank}(M)$ 
      span.fragment(data-fragment-index=6) $\le$ 
      span.fragment(data-fragment-index=4) $\mathrm{rank}(A)$ 
      span.fragment(data-fragment-index=5) $ \le n$
  section
    img.stretch.no-shadow(src="img/book_4.jpg")
    p 偶数小镇上生活着 $n$ 个居民
    ol.fragment(data-fragment-index=1)
      li 任何一个俱乐部只能有偶数个会员
      li 任何两个俱乐部只能有偶数个公共会员
    p
      span.fragment(data-fragment-index=2) 最多可能组建多少个
      span.fragment(data-fragment-index=3) 不同的
      span.fragment(data-fragment-index=2) 俱乐部呢？
section
  section
    h3 五个小故事
    p 奇数小镇
    p.fragment.highlight-red 奇数距离
    p 三角区域
    p 零钱风波
    p 等角线集
  section
    h3.red 奇数距离
    p.fragment.shrink 平面上存在两两之间距离为奇数的三个点吗？
    p.fragment.fade-up 平面上存在两两之间距离为奇数的四个点吗？
    p.fragment
      span 假设存在这样的四个点 
      span.fragment $(0,0) = $ 
      span $\mathbf{p_0}, \mathbf{p_1}, \mathbf{p_2}, \mathbf{p_3} \in \mathbb{R}^2$
  section
    p
      span $A$
      span.fragment(data-fragment-index=1) $A^T$
      span $ = \begin{bmatrix} - & \mathbf{p_1} & - \\ - & \mathbf{p_2} & - \\ - & \mathbf{p_3} & - \end{bmatrix}$
      span.fragment(data-fragment-index=1) $\begin{bmatrix} | & | & | \\ \mathbf{p_1} & \mathbf{p_2} & \dots & \mathbf{p_3} \\ | & | & & | \end{bmatrix}$
    p.fragment $$= \begin{bmatrix}\mathbf{p_1} \cdot \mathbf{p_1} & \mathbf{p_1}\cdot\mathbf{p_2} & \mathbf{p_1}\cdot\mathbf{p_3} \\ \mathbf{p_2}\cdot\mathbf{p_1} & \mathbf{p_2}\cdot\mathbf{p_2} & \mathbf{p_2}\cdot\mathbf{p_3} \\ \mathbf{p_3}\cdot\mathbf{p_1} & \mathbf{p_3}\cdot\mathbf{p_2} & \mathbf{p_3}\cdot\mathbf{p_3} \end{bmatrix}$$
    p.fragment $$|\mathbf{p_1} - \mathbf{p_2}|^2 = |\mathbf{p_1}|^2 + |\mathbf{p_2}|^2 - 2\mathbf{p_1}\cdot\mathbf{p_2}$$
    p.fragment $$2\mathbf{p_1}\cdot\mathbf{p_2} \equiv 1$$
  section
    p
      span $M := 2AA^T \equiv \begin{bmatrix}0 & 1 & 1 \\ 1 & 0 & 1 \\ 1 & 1 & 0 \end{bmatrix}$
      span.fragment $\implies \det(M) \equiv 0$
    p.fragment.red 怎么办？
  section
    p $$2AA^T = \begin{bmatrix}2\mathbf{p_1} \cdot \mathbf{p_1} & 2\mathbf{p_1}\cdot\mathbf{p_2} & 2\mathbf{p_1}\cdot\mathbf{p_3} \\ 2\mathbf{p_2}\cdot\mathbf{p_1} & 2\mathbf{p_2}\cdot\mathbf{p_2} & 2\mathbf{p_2}\cdot\mathbf{p_3} \\ 2\mathbf{p_3}\cdot\mathbf{p_1} & 2\mathbf{p_3}\cdot\mathbf{p_2} & 2\mathbf{p_3}\cdot\mathbf{p_3} \end{bmatrix}$$
    p
      span.fragment $\mathbf{p_1} \cdot \mathbf{p_1} =$ 
      span.fragment 奇数的平方 
      span.fragment $\equiv 1 \pmod{8}$
    p
      span.fragment $2\mathbf{p_1} \cdot \mathbf{p_2} = |\mathbf{p_1}|^2 + |\mathbf{p_2}|^2 - |\mathbf{p_1} - \mathbf{p_2}|^2$ 
      span.fragment $\equiv 1 \pmod{8}$
  section
    p $$2AA^T \equiv \begin{bmatrix}2 & 1 & 1 \\ 1 & 2 & 1 \\ 1 & 1 & 2 \end{bmatrix}$$
    p.fragment(data-fragment-index=1) $$\implies \det(2AA^T) \equiv 4 \pmod{8}$$
    p
      span.fragment(data-fragment-index=3) $3 =$ 
      span.fragment(data-fragment-index=2) $\mathrm{rank}(M)$ 
      span.fragment(data-fragment-index=6) $\le$ 
      span.fragment(data-fragment-index=4) $\mathrm{rank}(A)$ 
      span.fragment(data-fragment-index=5) $ \le 2$
  section
    h3 思考题
    p 空间中至多有几个点，两两之间距离为奇数？
section
  section
    h3 五个小故事
    p 奇数小镇
    p 奇数距离
    p.fragment.highlight-red 三角区域
    p 零钱风波
    p 等角线集
  section
    h3.red 三角区域
    p
      span 平面上 $n$ 条直线
      span.fragment （无三线共点，无两线平行）
    img.no-shadow.stretch(src="img/triangle.png")
    p
      span 至少有多少个三角区域？
      span.fragment 至少 $n-2$ 个？
  section
    p 观察：稍微移动直线，区域形状基本不变
    p
      span.fragment(data-fragment-index=2) 固定某两条直线，
      span.fragment(data-fragment-index=1) 能否平移
      span.fragment(data-fragment-index=2) 其余 $n-2$ 条
      span.fragment(data-fragment-index=1) 直线，
      br
      span.fragment(data-fragment-index=1) 且保持三角区域不变？
    img.fragment.no-shadow(src="img/triangle_move.png" data-fragment-index=3)
  section
    img.stretch.no-shadow(src="img/triangle_speed.png")
    p.fragment
      span 保持三角区域 $\Leftrightarrow$ 直线速率满足
      span.fragment.highlight-red 线性
      span 约束方程
  section
    p 反证法，假设三角区域 $< n-2$ 个
    p.fragment 约束方程个数 $<$ 未知数（速率）个数
    p
      span.fragment $\implies$ 存在非零解
      span.fragment ，即直线可以匀速运动起来！
    p.fragment
      span 某三条直线第一次共点
      span.fragment.fade-out ？
  section
    p 在第一次三线共点之前，每个区域形状基本不变
    p.fragment 但在这之前一点点……
    img.no-shadow.fragment(src="img/triangle_small.png")
section
  section
    h3 五个小故事
    p 奇数小镇
    p 奇数距离
    p 三角区域
    p.fragment.highlight-red 零钱风波
    p 等角线集
  section
    h3.red 零钱风波
    p 某网店正在处理订单，
    p 突然所有小于 1 元的硬币都被作废了！
    p 网店该如何取整每个商品价格，
    p 使得每个订单的总价变化不大？
  section
    p 
      span 假设商品编号 $1, 2, \dots, n$
      span.fragment ，价格小数部分为 $c_i$
    p.fragment 订单 $S_1, \dots, S_m \subset \{1, 2, \dots, n\}$
    h3.red.fragment Beck–Fiala 定理 
    p.fragment 如果每个 $i$ 出现在至多 $d$ 个 $S_k$ 中，
    p.fragment 则存在 $z_1, \dots, z_n \in \{0,1\}$
    p.fragment 使得 $\left|\sum_{i \in S_k} z_i - \sum_{i \in S_k}c_i\right| < d$ 对每个 $S_k$ 成立。
  section
    p.red.fragment 让价格运动起来？
    p.fragment $c_i \in (0,1) \to x_i \in [0,1] \to z_i \in \{0,1\}$
    p.fragment 约定：如果 $x_i$ 变为 0 或 1 后，其值就固定不动了
    p.fragment 固定前称 $x_i$ 在浮动
    p.red.fragment 价格浮动的时候，哪些 $S_k$ 令人担心？
    p.fragment 称含有超过 $d$ 个浮动商品的订单为危险的
    p.fragment 浮动商品越来越少，危险订单越来越少
  section
    p.red.fragment 如何让价格运动起来，且保持危险订单总价不变？
    p.fragment 危险订单 $\Leftrightarrow$ 浮动价格 $x_i$ 的线性约束条件
    p.fragment 约束条件的个数 $<$ 浮动价格的个数？
    p.fragment 存在非零解 $\implies$ 可以让浮动价格匀速运动起来
    p.fragment 直到某个浮动价格第一次到达 0 或 1
    p.fragment
      span 在订单脱离危险之后，
      br
      span 其 $d$ 个浮动商品最多带来总价变化 $< d$。
  section
    h3.red 差异理论 Discrepancy Theory
    p.fragment $S_1, \dots, S_m \subset \{1,2,\dots, n\}$
    p.fragment 给定赋值 $f\colon \{1,2,\dots, n\} \to \{-1, 1\}$
    p.fragment 给 $f$ 打分为 $\chi(f) = \max_k |\sum_{i\in S_k}f(i)|$
    p.fragment 如果每个 $i$ 出现在出现在至多 $d$ 个 $S_k$ 中，
    p.fragment 则 $\min_f\chi(f)$ 至多是？
  section
    table
      tbody
        tr.fragment(data-fragment-index=1)
          td 1981
          td Beck–Fiala
          td $2d-2$
        tr.fragment(data-fragment-index=2)
          td 1997
          td Bednarchak–Helm
          td $2d-3$
        tr.fragment(data-fragment-index=3)
          td 2017
          td Bukh
          td $2d-\log^* d$
        tr.fragment(data-fragment-index=4)
          td
          td 猜想
          td $O(\sqrt{d})$
section
  section
    h3 五个小故事
    p 奇数小镇
    p 奇数距离
    p 三角区域
    p 零钱风波
    p.fragment.highlight-red 等角线集
  section
    h3.red 等角线集
    p.fragment.shrink 平面上至多能放置多少条直线使得两两夹角相等？
    p.fragment 空间中至多能放置多少条等角线？
    p
      span.fragment 3 条？
      span.fragment 4 条？
      span.fragment 6 条？
  section
    p 等角线上取单位列向量 $v_1, \dots, v_n \in \mathbb{R}^3$
    p
      span.fragment $v_iv_i^T$
      span.fragment 是 3 x 3 对称矩阵
    p
      span.fragment.red 3 x 3 对称矩阵构成几维线性空间？
      span.fragment 6 维！
  section
    p.red 对称矩阵 $v_1v_1^T, \dots, v_nv_n^T$ 线性无关吗？
    p.fragment 假设 $a_1v_1v_1^T + \dots + a_nv_nv_n^T = 0$
    p.fragment $\implies v_1^T(a_1v_1v_1^T + \dots + a_nv_nv_n^T)v_1 = 0$
    p.fragment $\implies a_1 + a_2 \alpha^2 + \dots + a_n \alpha^2 = 0$
    p.fragment $\implies (1-\alpha^2)a_1 + \alpha^2(a_1 + \dots + a_n) = 0$
    p.fragment $\implies \dots \implies a_1 = \dots = a_n = 0$
  section
    h3.red 等角线问题
    p $n$ 维空间中夹角为 $\arccos\alpha$ 的等角线最多 $N_\alpha(n)$ 个
    table
      tbody
        tr.fragment
          td 1973
          td Neumann
          td
            span $N_\alpha(n) \le 2n$
            br
            span 除非 $1/\alpha$ 是奇数
        tr.fragment
          td 1973
          td Lemmens–Seidel
          td $N_{1/3}(n) \approx 2n$
        tr.fragment
          td 1989
          td Neumaier
          td $N_{1/5}(n) \approx 3n/2$
        tr.fragment
          td 2016
          td Bukh
          td $N_\alpha(n) \le 2^{c/\alpha^2}n$
  section
    table
      tbody
        tr.fragment
          td 2018
          td Balla–Dräxler–Keevash–Sudakov
          td
            span $N_\alpha(n) \lesssim 1.93n$
            br
            span 当 $\alpha\neq 1/3$
        tr.fragment
          td 2018+
          td J.–Polyanskii
          td
            span $N_\alpha(n) \approx c_\alpha n$ 当
            br
            span $\alpha \ge 1/(1+2\sqrt{2+\sqrt{5}})$
            br
            span $N_{1/(1+2\sqrt{2})}(n) \approx 3n/2$
        tr.fragment
          td
          td
          td
            span $N_\alpha(n) \lesssim 1.49n$ 当
            br
            span $\alpha\neq 1/3, 1/5, 1/(1+2\sqrt{2})$
        tr.fragment
          td
          td 猜想
          td $N_{1/7}(n) \approx 4n/3$

section
  small.red 姜子麟
  br
  small 以色列理工学院
  br
  small jiangzilin@technion.ac.il
