- var head_title = "Beyond classification theorem of Cameron, Geothals, Seidel, and Shult"
- var title = "Beyond classification theorem of<br>Cameron, Geothals, Seidel, and Shult"
- var institute = "Arizona State University"
- var theme = "serif"
- var email = "zilinj@asu.edu"
