extends ../layouts/default.pug

block head
  include src/head.pug
  - var date = "June 9, 2025"
  - var institute = "Arizona State University"
  - var email = "zilinj@asu.edu"

block main
  include src/main.pug
