doctype html
html
  head
    block head
  body
    .reveal
      .slides
        block main
    script(src=`/js/vendor/reveal.js/dist/reveal.js`)
    script(src=`/js/vendor/reveal.js/plugin/math/math.js`)
    link(rel="stylesheet" href="/js/vendor/reveal.js/plugin/highlight/zenburn.css")
    script(src=`/js/vendor/reveal.js/plugin/highlight/highlight.js`)
    script.
      Reveal.initialize({
        history: true,
        controls: false,
        transition: 'fade',
        keyboard: { 37: 'prev', 38: 'prev', 39: 'next', 40: 'next' },
        katex: {
          version: 'latest',
          delimiters: [
            { left: '$$', right: '$$', display: true },
            { left: '$', right: '$', display: false },
          ],
          ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        },
        plugins: [ RevealMath.KaTeX, RevealHighlight ]
      });

    block script