extends ../../layouts/head.pug

block meta_data
    - var title = "Median eigenvalues of subcubic graphs"
    - var coauthors = "Hricha Acharya and Benjamin Jeter"
    - var theme = "simple"

//- block css
//-     link(rel='stylesheet' href='src/custom.css')
