include ../../layouts/title_slide.pug

section
  section
    p Subcubic graphs: max degree $\le$ 3
    p Eigenvalues of adjacency matrix
    p $\lambda_1 \ge \dots \ge \lambda_n$
    p Median eigenvalues
    p $\lambda_H = \lambda_{\lfloor (n+1)/2 \rfloor}, \lambda_H = \lambda_{\lceil (n+1)/2 \rceil}$