extends ../../layouts/head.pug

block meta_data
    - var head_title = "A Bound on Turán Number for Cycles of Even Length"
    - var title = "A Bound on Turán Number<br>for Cycles of Even Length"
    - var theme = "solarized"
    - var coauthors = "Boris Bukh"
block css
    link(rel='stylesheet' href='src/custom.css')
