doctype html
html
  - var title = "Forbidden subgraphs and spherical two-distance sets"
    - var coauthors = "Jonathan Tidor, 姚远 Yuan Yao, 张盛桐 Shengtong Zhang, 赵宇飞 Yufei Zhao, and Саша Полянский Alexandr Polyanskii"
  - var revealjs_version = "4.3.1"
  - var revealjs_theme = "simple"
  include ../includes/head.pug
  body
    .reveal
      .slides
        include ../includes/title_slide.pug
        include main.pug
    include ../includes/script.pug
