section
  section(data-auto-animate)
    h3
      span $\lambda^* = \sqrt{\beta}+1/\sqrt{\beta} = $ 
      span(style="font-size:100%") 2.
      span(style="font-size:90%") 0
      span(style="font-size:80%") 1
      span(style="font-size:70%") 9
      span(style="font-size:60%") 8
      span(style="font-size:50%") 0
      span(style="font-size:40%") 0
      span(style="font-size:30%") 8
      span(style="font-size:30%") 8
      span(style="font-size:30%") 7
      span ...
    p.gray where $\beta$ is real root of $x^3 = x + 1$.
  section(data-auto-animate)
    h3
      span $\lambda^* = \sqrt{\beta}+1/\sqrt{\beta} = $ 
      span(style="font-size:100%") 2.
      span(style="font-size:90%") 0
      span(style="font-size:80%") 1
      span(style="font-size:70%") 9
      span(style="font-size:60%") 8
      span(style="font-size:50%") 0
      span(style="font-size:40%") 0
      span(style="font-size:30%") 8
      span(style="font-size:30%") 8
      span(style="font-size:30%") 7
      span ...
    p.gray
      | the limit of the largest eigenvalue of
      img(src='e2n.png' width=600)
section
  section
    p.fragment.grow(data-fragment-index=1) Forbidden subgraphs
    small.fragment(data-fragment-index=1) * all subgraphs are induced
    p Spherical two-distance sets
  section(data-auto-animate)
    h3 Fundamental problem
    p Classification and characterization of graphs with bounded eigenvalues (refer to adjacency matrices)
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p.fragment $\mathcal{H}(\lambda) = \{$ graphs with spectral radius $\le \lambda \}$
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p $\mathcal{H}(\lambda) = \{$ graphs with spectral radius $\le \lambda \}$
    p.fragment
      span.blue Observation: 
      | Cauchy interlacing theorem implies
    p.fragment $\mathcal{G}(\lambda)$ and $\mathcal{H}(\lambda)$ are closed under taking subgraphs
    p.fragment
      span.red Question: 
      span Define $\mathcal{G}(\lambda)$ or $\mathcal{H}(\lambda)$ by a 
      span.red finite 
      span set of forbidden subgraphs?
  section(data-auto-animate)
    p $\mathcal{H}(2) = \{$ graphs with spectral radius $\le 2 \}$
    img(src='dynkin.png' style='margin: 0')
    p
      span.blue Smith 1970: 
      span connected graphs in $\mathcal{H}(2)$ that are maximal under taking general subgraphs
    p.fragment
      span.blue Cvetković, Doob and Gutman 1982 
      span $\mathcal{H}(2)$ can be defined by 18 forbidden subgraphs
  section(data-auto-animate)
    p $\mathcal{G}(2) = \{$ graphs with smallest eigenvalue $\ge -2 \}$
    p $\mathcal{H}(2) = \{$ graphs with spectral radius $\le 2 \}$
    p.fragment $\mathcal{G}(2)$ is much richer and more complex
    p.fragment contains $\mathcal{H}(2)$ and all the line graphs
    p.fragment
      span.blue Cameron, Goethals, Seidel, and Shult: 
      | For every connected graph, it is in $\mathcal{G}(2)$ if and only if it is represented by a subset of $D_n$ or $E_8$ (root systems).
  section(data-auto-animate)
    p $\mathcal{G}(2) = \{$ graphs with smallest eigenvalue $\ge -2 \}$
    p
      span.blue Rao, Singhi and Vijayan 
      | $\mathcal{G}(2)$ can be defined by forbidden subgraphs with $\le 37$ vertices
    p
      span.blue Kumar, Rao and Singhi 
      | perfected $37$ to $10$
    p
      span.blue Bussemaker and Neumaier 
      | $\mathcal{G}(2)$ can be defined by 1812 forbidden subgraphs
  section(data-auto-animate)
    h3 Beyond $\lambda = 2$
    p.fragment
      span.blue Cvetković, Doob and Gutman 1982 
      | Classification of graphs in $\mathcal{H}(\sqrt{2+\sqrt{5}})$ (about 2.05817)
    p.fragment
      span.red Bussemaker and Neumaier 1992 
      | For which $\lambda \in \mathbb{R}$ can $\mathcal{G}(\lambda)$ or $\mathcal{H}(\lambda)$ be defined by a finite set of forbidden subgraphs?
    p.fragment "however, these seem to be very difficult problems"
  section(data-auto-animate)
    p
      span.red Bussemaker and Neumaier 1992 
      | For which $\lambda \in \mathbb{R}$ can $\mathcal{G}(\lambda)$ or $\mathcal{H}(\lambda)$ be defined by a finite set of forbidden subgraphs?
    .avatars
      img.avatar(src="jiang.png")
      img.avatar(src="polyanskii.png")
    p
      span.blue J. and Polyanskii 2020 
      | settled $\mathcal{H}(\lambda)$
      br
      span $\lambda < \sqrt{2+\sqrt{5}} \approx 2.05817$ but $\lambda \neq \lambda_2^*, \lambda^*_3, \lambda^*_4, ...$
    p
      span.blue J. and Polyanskii 2022+ 
      | settled $\mathcal{G}(\lambda)$
      br
      span $\lambda < \lambda^* \approx 2.019801$
  section(data-auto-animate)
    p
      span.blue J. and Polyanskii 2020 
      | settled $\mathcal{H}(\lambda)$
      br
      span $\lambda < \sqrt{2+\sqrt{5}} \approx 2.05817$ but $\lambda \neq \lambda_2^*, \lambda^*_3, \lambda^*_4, ...$
    p
      span.blue J. and Polyanskii 2022+ 
      | settled $\mathcal{G}(\lambda)$
      br
      span $\lambda < \lambda^* \approx 2.019801$
    p $\lambda_m^*$ is the limit of the largest e.v. of $E_{m,n}$ as $n \to\infty$
    img(src='emn.png' width=500 style='margin: 0')
    p $\lambda_m^*$ increases to $\sqrt{2+\sqrt{5}}$ and $\lambda^* = \lambda^*_2$
section
  section(data-auto-animate)
    p
      span.blue J. and Polyanskii 2022+ 
      | settled $\mathcal{G}(\lambda)$
      br
      span $\lambda < \lambda^* \approx 2.019801$
    p.red Break into three cases
    p
      span $\lambda < 2$
      br
      span $2 \le \lambda < \lambda^*$
      br
      span $\lambda \ge \lambda^*$
  section
    p
      span.blue Goal: 
      | If $\lambda < 2$ then $G(\lambda)$ can be defined by a finite set of forbidden subgraphs
    p Really want to forbid $C$ and $D$ but not quite ...
    img(src='cd.png' width=300 style='margin: 0')
    p
      span.blue Fact (van Rooij and Wilf): 
      | Every graph that contains neither $C$ nor $D$ as a subgraph is a line graph.
  section
    p.red Ramsey-type result
    p For every $F$ and $k, l, m$ there exists $N$ such that for every connected graph $G$ with more than $N$ vertices, if no member in $\{S_k\} \cup \mathcal{X}(F, l, m)$ is a subgraph of $G$ then $F$ is not a subgraph of $G$.
    p Here, $\mathcal{X}(F, l, m)$ consists of
    img(src='ext_family.png')
  section(data-auto-animate)
    p
      span.blue Step 1: 
      | For every $\lambda < 2$ there exist $l, m$ such that both $\mathcal{X}(C, l, m)$ and $\mathcal{X}(D, l, m)$ are disjoint from $\mathcal{G}(\lambda)$
    p.fragment
      span.blue Step 2: 
      | Forbid $\{S_4\} \cup \mathcal{X}(C, l, m) \cup \mathcal{X}(D, l, m)$. Roughly speaking, only line graphs are left.
    p.fragment
      span.blue Step 3: 
      | Only line graphs of rooted trees are left, where the rooted trees are of bounded depth, and all the vertices but the root have bounded degree
  section(data-auto-animate)
    p
      span.blue Step 3: 
      | Only line graphs of rooted trees are left, where the rooted trees are of bounded depth, and all the vertices but the root have bounded degree
    p Forbid line graphs of such trees, where trees are minimal under taking subgraphs
    p.fragment
      span.red Are there only finitely many such minimal trees $H$?
    p.fragment Step 3.1: Enumerate bounded trees $T_1, T_2, \dots, T_n$
    p.fragment Step 3.2: Encode each $H$ by $(t_1, \dots, t_n)$ where $t_i$ is the # of occurrences of $T_i$ as a connected component in the graph obtained by removing the root from $H$.
  section(data-auto-animate)
    p
      span.red Are there only finitely many such minimal trees $H$?
    p Step 3.1: Enumerate bounded trees $T_1, T_2, \dots, T_n$
    p Step 3.2: Encode each $H$ by $(t_1, \dots, t_n)$ where $t_i$ is the # of occurrences of $T_i$ as a connected component in the graph obtained by removing the root from $H$.
    p.fragment
      span.red Observation: 
      | These encodings form an antichain
    p.fragment
      span.blue Dickson's lemma 
      | The poset $(\mathbb{N}^n, ≤)$, in which $(a_1, \dots, a_n) ≤ (b_1, \dots , b_n)$ if and only if $a_i ≤ b_i$ for every $i$, does not contain infinite antichains.
  section(data-auto-animate)
    p
      span.blue Goal: 
      | If $2 \le \lambda < \lambda^*$ then $G(\lambda)$ can be defined by a finite set of forbidden subgraphs
    p Really want to forbid
    img(src='forb_dn.png' width=350 style='margin: 0')
  section(data-auto-animate)
    p
      span.blue Goal: 
      | If $2 \le \lambda < \lambda^*$ then $G(\lambda)$ can be defined by a finite set of forbidden subgraphs
    p.fragment These are forbidden subgraphs $G_1, \dots, G_{31}$ for $\mathcal{D}_{\infty}$, the family of graphs representable by a subset of $D_n$.
    p.fragment
      span.blue Step 1: 
      | For every $\lambda < 2$ there exist $l, m$ such that $\mathcal{X}(G_i, l, m)$ is disjoint from $\mathcal{G}(\lambda)$ for every $i$
      span.red.fragment computer assisted proof
    p.fragment
      span.blue Step 2: 
      | Forbid $\{S_5\} \cup \bigcup_{i=1}^{31}\mathcal{X}(G_i, l, m)$. Roughly speaking, only graphs in $\mathcal{D}_\infty$ are left.
  section(data-auto-animate)
    p
      span.blue Goal: 
      | If $\lambda \ge \lambda^*$ then $G(\lambda)$ cannot be defined by a finite set of forbidden subgraphs
    p.fragment
      span.blue Suffices to show
      br
      | $\{\lambda \in \mathbb{R} \colon -\lambda $ is the smallest e.v. of a graph $\}$
      br
      | is dense in $(\lambda^*, \infty)$
    p.fragment
      span.blue Shearer: 
      | it is dense in $(\sqrt{2+\sqrt{5}},\infty)$
    p.fragment Need to fill the gap between $\lambda^*$ and $\sqrt{2+\sqrt{5}}$
  section(data-auto-animate)
    p Need to fill the gap between $\lambda^*$ and $\sqrt{2+\sqrt{5}}$
    p.red Rowing graph
    img(src='rowing.png')
    p.fragment
      span.red Key feature: 
      | when the coxswain $v_c$ is removed, a rowing graph becomes a line graph of a caterpillar tree
section
  section
    h3 Generalization to signed graphs
    p.fragment $G^\pm(\lambda) = \{$ signed graphs with smallest e.v. $\ge -\lambda\}$
    p.fragment
      span.blue J. and Polyanskii 2022+ 
      | settled $G^\pm(\lambda)$: $\lambda < \lambda^*$
    p.fragment $G^\mp(\lambda) = \{$ signed graphs with largest e.v. $\le \lambda\}$
    p.fragment
      span.blue Corollary 
      | settled $G^\mp(\lambda)$: $\lambda < \lambda^*$
  section
    h3 Application
    p.fragment For every $λ < λ^*$, there exists $n$ such that for every symmetric integer matrix $A$ whose diagonal entries are all zero, if $A$ has an eigenvalue less than $-λ$, then so does one of its principal submatrix of order at most $n$. The same conclusion does not hold for any $λ ≥ λ^*$
    p.fragment
      span.blue Vijayakumar: 
      | for $λ = 2$ the natural number $n$ can be as small as (but no smaller than) $10$.
section
  section
    p Forbidden subgraphs
    p.fragment.grow(data-fragment-index=2) Spherical two-distance sets
  section(data-auto-animate)
    h3 Spherical two-distance sets
    p
      | $\{ v_1, \dots, v_N \in \mathbb{R}^d \colon$ each $v_i$ is a unit vector
      br
      | and $\langle v_i, v_j \rangle = \alpha$ or $\beta\}$
    p Focus on fixed $-1 \le \beta < 0 \le \alpha < 1$
    p.red $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
  section(data-auto-animate)
    p $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
    p
      span.red Problem 
      | Determine $N_{\alpha, \beta}(d)$ for large $d$
      br
      | In particular, determine $\lim_{d \to \infty} N_{\alpha, \beta}(d)/d$
    p.fragment
      span.blue J., Tidor, Yuan, Zhang, Zhao 2021 
      | settled the "equiangular" case $\beta = -\alpha$
  section
    img(src='mit-team.jpg')
  section
    p $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
    p
      span.red Problem 
      | Determine $\lim_{d \to \infty} N_{\alpha, \beta}(d)/d$
    p.blue.fragment J., Tidor, Yuan, Zhang, Zhao 2022+
    p.fragment Constructed a lower bound on $N_{\alpha, \beta}(d)$
    p.fragment Conjectured the lower bound is tight for large $d$
    p.fragment Proved matching upper bound when $\alpha + 2\beta < 0$ (equiangular-ish) or $(1-\alpha)/(\alpha-\beta) = 1, \sqrt2, \sqrt3$
  section(data-auto-animate)
    p How to get an upper bound on $N_{\alpha, \beta}(d)$?
    p.fragment
      span.blue Step 1: 
      | Associate a graph $G$ to a spherical $\{\alpha,\beta\}$-code
    p.fragment
      span.blue Step 2: 
      | There exists $\Delta$ such that $G$ after removing at most $\Delta$ vertices, is a $\Delta$-modification of a complete $p$-partite graph $K$, where $p = \lfloor -\alpha/\beta \rfloor + 1$
    small.fragment A graph $G$ is a $∆$-modification of another graph $H$ on the same vertex set if the symmetric difference of $G$ and $H$ has maximum degree at most $∆$
    p.fragment
      span.blue Step 3: 
      | Work with the signed graph whose signed adjacency matrix defined by $A_G - A_K$
  section(data-auto-animate)
    p(style='font-size: 24px')
      span.blue Step 1: 
      | Associate a graph $G$ to a spherical $\{\alpha,\beta\}$-code
    p(style='font-size: 24px')
      span.blue Step 2: 
      | There exists $\Delta$ such that $G$ after removing at most $\Delta$ vertices, is a $\Delta$-modification of a complete $p$-partite graph $K$, where $p = \lfloor -\alpha/\beta \rfloor + 1$
    p(style='font-size: 24px')
      span.blue Step 3: 
      | Work with the signed graph $G^\pm$ defined by $A_G - A_K$
    p
      span.red Forbidden subgraph framework
      br
      | Roughly speaking, given a 
      span.red finite 
      | family of $\mathcal{H}$ of signed graphs with largest e.v. more than $(1-\alpha)/(\alpha-\beta)$, can choose $\Delta$ such that $G^\pm$ does not contain any member in $\mathcal{H}$ as a subgraph
  section
    .avatars
      img.avatar(src="jiang.png")
      img.avatar(src="polyanskii.png")
    p $G^\mp(\lambda) = \{$ signed graphs with largest e.v. $\le \lambda\}$
    p $G^\mp(\lambda)$ can be defined by a finite set of forbidden signed subgraphs if and only if $\lambda < \lambda^*$
    p
      span.blue Application 
      | A matching upper bound on $N_{\alpha, \beta}(d)$ for large $d$ when $(1-\alpha)/(\alpha-\beta) < \lambda^*$
section
  section
    h3 Open problems
    p.fragment
      span.blue Problem A: 
      | Classify all the connected graphs with smallest eigenvalue in $(-λ^*,-2)$. In particular, classify those that have sufficiently many vertices.
    p.fragment
      span.blue Problem B: 
      | Problem A for signed graphs
    p.fragment
      span.blue Problem C: 
      | Find the smallest $λ ∈ \mathbb{R}$ such that the set of spectral radii of signed graphs is dense in $[λ,∞)$, and classify all the connected signed graphs with spectral radius in $(2,λ)$.
  section
    h3 Open problems
    p
      span.blue Problem D: 
      | Prove matching upper bound for $N_{\alpha, \beta}(d)$ when $\alpha + 2\beta \ge 0$ and $(1-\alpha)/(\alpha-\beta) \ge \lambda^*$