section
  section(data-auto-animate)
    h3
      span $\lambda^* = \sqrt{\beta}+1/\sqrt{\beta} = $ 
      span(style="font-size:100%") 2.
      span(style="font-size:90%") 0
      span(style="font-size:80%") 1
      span(style="font-size:70%") 9
      span(style="font-size:60%") 8
      span(style="font-size:50%") 0
      span(style="font-size:40%") 0
      span(style="font-size:30%") 8
      span(style="font-size:30%") 8
      span(style="font-size:30%") 7
      span ...
    p where $\beta$ is real root of $x^3 = x + 1$.
section
  section
    p.fragment.grow(data-fragment-index=1) Forbidden subgraphs
    p Spherical two-distance sets
  section(data-auto-animate)
    h4 Adjacency matrix, and smallest eigenvalue
    table
      tbody
        tr
          td $G$
          td $A_G$
          td $\lambda_1(G)$
        tr
          td $K_n$
          td $J - I$
          td $-1$
    p.fragment Classification of graphs with bounded eigenvalues
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p.fragment
      span.blue Observation: 
      | Cauchy interlacing theorem 
      span.fragment
        | implies
        br
        | $\mathcal{G}(\lambda)$ is closed under taking subgraphs
        br
        small * all subgraphs are induced
    p.fragment
      span.red Question: 
      span Define $\mathcal{G}(\lambda)$ by forbidden subgraphs?
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Question: 
      | Define $\mathcal{G}(\lambda)$ by forbidden subgraphs?
    p.green Simple case $\lambda < 1$
    p.fragment $\lambda_1(K_2) = -1$ hence $K_2 \not\in \mathcal{G}(\lambda)$
    p.fragment $\mathcal{G}(\lambda) = \{$ graphs with no edges $\}$
    p.fragment
      span.red Tautology: 
      | Forbid all graphs outside $\mathcal{G}(\lambda)$
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      span.red Bussemaker and Neumaier 1992: 
      | For which $\lambda \in \mathbb{R}$, can $\mathcal{G}(\lambda)$ be defined by 
      span.red finite 
      | forbidden subgraphs?
    p.fragment $\mathcal{G}(2)$ is complex; it contains all the line graphs
    p.fragment
      span.blue Cameron, Goethals, Seidel, and Shult: 
      | For every connected graph, it is in $\mathcal{G}(2)$ if and only if it is "generalized line graph" or "exceptional graph".
    p.fragment
      span.blue Kumar, Rao and Singhi: 
      | $\mathcal{G}(2)$ can be defined by forbidden subgraphs with $\le 10$ vertices      
  section(data-auto-animate)
    p
      span.red Bussemaker and Neumaier 1992: 
      | For which $\lambda \in \mathbb{R}$, can $\mathcal{G}(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment "however, these seem to be very difficult problems"
    .fragment
      .avatars
        img.avatar(src="jiang.png")
        img.avatar(src="polyanskii.png")
      p
        span.blue J. and Polyanskii 2022: 
        | For $\lambda < \lambda^* \approx 2.01980$, yes; otherwise, no.
section
  section
    h3 Generalization to signed graphs
    p.fragment $\mathcal{G}^\pm(\lambda) = \{$ signed graphs with smallest e.v. $\ge -\lambda\}$
    p.fragment
      span.red Question: 
      | Can $\mathcal{G}^\pm(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment
      span.blue J. and Polyanskii 2022: 
      | Yes if and only if $\lambda < \lambda^*$
    p.fragment $\mathcal{G}^\mp(\lambda) = \{$ signed graphs with largest e.v. $\le \lambda\}$
    p.fragment
      span.red Question: 
      | Can $\mathcal{G}^\mp(\lambda)$ be defined by finite forbidden subgraphs?
    p.fragment
      span.blue Corollary 
      | Yes if and only if $\lambda < \lambda^*$
  section
    p
      span.blue Application 
      | For every $λ < λ^*$, there exists $n_0$ s.t.
      br
      span for every symmetric integer matrix
      span $$A = \begin{bmatrix}0 & * & \dots & * \\ * & 0 & \dots & * \\ \vdots  & \vdots  & \ddots & \vdots \\ * & * & \cdots & 0 \end{bmatrix},$$
      span.fragment(data-fragment-index=1) $\lambda_1(A) \ge -λ$
      span.fragment.red(data-fragment-index=4) $\Leftarrow$
      span.fragment(data-fragment-index=2) $\Rightarrow$ for every principal submatrix $A_0$ of order at most $n_0$, 
      span.fragment(data-fragment-index=3) $\lambda_1(A_0) \ge -λ$
    p.fragment(data-fragment-index=5)
      span.blue Vijayakumar 1987: 
      | for $λ = 2$, $n_0 = 10$
section
  section
    p Forbidden subgraphs
    p.fragment.grow(data-fragment-index=2) Spherical two-distance sets
  section(data-auto-animate)
    h3 Spherical two-distance sets
    p
      | $\{ v_1, \dots, v_N \in \mathbb{R}^d \colon$ each $v_i$ is a unit vector
      br
      | and $\langle v_i, v_j \rangle = \alpha$ or $\beta\}$
    p.fragment Fix $-1 \le \beta < 0 \le \alpha < 1$
    p.red.fragment $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
  section(data-auto-animate)
    p $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
    p
      span.red Problem: 
      | Determine $N_{\alpha, \beta}(d)$ for large $d$
      br
      | In particular, determine $\lim_{d \to \infty} N_{\alpha, \beta}(d)/d$
    p.fragment
      span.blue J., Tidor, Yao, Zhang, and Zhao 2021 
      br
      | For "equiangular" case $\beta = -\alpha$
      | $$N_{\alpha, -\alpha}(d) = \frac{k}{k-1}d + O(1)$$
      | where $k$ is "spectral radius order" of $\frac{1-\alpha}{2\alpha}$
  section
    img(src='mit-team.jpg')
  section
    p $N_{\alpha, \beta}(d) = $ max size of spherical $\{\alpha,\beta\}$-code in $\mathbb{R}^d$
    p
      span.red Problem: 
      | Determine $\lim_{d \to \infty} N_{\alpha, \beta}(d)/d$
    p.blue.fragment J., Tidor, Yao, Zhang, Zhao 2022
    ul
      li.fragment Lower bound on $N_{\alpha, \beta}(d)$, which depends only on $p := \lfloor -\alpha/\beta \rfloor + 1$ and $\lambda = \frac{1-\alpha}{\alpha-\beta}$
      li.fragment Matching upper bound for large $d$ when $p \in \{1,2\}$ or $\lambda \in \{1, \sqrt2, \sqrt3\}$; e.g. $N_{2/5,-1/5}(d) = 3d + O(1)$
      li.fragment Conjectured lower bound is tight for large $d$
  section(data-auto-animate)
    p How to get an upper bound on $N_{\alpha, \beta}(d)$?
    p.fragment
      span.blue Step 1: 
      | Associate a graph $G$ to a spherical $\{\alpha,\beta\}$-code
    p.fragment
      span.blue Step 2: 
      | There exists $\Delta$ s.t. $G$ after removing at most $\Delta$ vertices, is a $\Delta$-modification of a complete $p$-partite graph $K$
    small.fragment $\Delta$-modification means adding or removing up to $\Delta$ edges at each vertex
    p.fragment
      span.blue Step 3: 
      | Obtain signed graph $G^\pm$ defined by $A_G - A_K$
  section(data-auto-animate)
    p(style='font-size: 24px')
      span.blue Step 1: 
      | Associate a graph $G$ to a spherical $\{\alpha,\beta\}$-code
    p(style='font-size: 24px')
      span.blue Step 2: 
      | There exists $\Delta$ s.t. $G$ after removing at most $\Delta$ vertices, is a $\Delta$-modification of a complete $p$-partite graph $K$
    p(style='font-size: 24px')
      span.blue Step 3: 
      | Obtain signed graph $G^\pm$ defined by $A_G - A_K$
    p
      span.red Forbidden subgraph framework
      br
      | Given a 
      span.red finite 
      | family of $\mathcal{H}$ of signed graphs with largest eigenvalue $>\lambda$, can choose $\Delta$ s.t. $G^\pm$ does not contain any member in $\mathcal{H}$ as a subgraph
  section
    .avatars
      img.avatar(src="jiang.png")
      img.avatar(src="polyanskii.png")
    p $\mathcal{G}^\mp(\lambda) = \{$ signed graphs with largest e.v. $\le \lambda\}$
    p $\mathcal{G}^\mp(\lambda)$ can be defined by finite forbidden signed subgraphs $\mathcal{H}$ if and only if $\lambda < \lambda^*$
  section(data-auto-animate)
    p(style='font-size: 24px')
      span.blue Step 1: 
      | Associate a graph $G$ to a spherical $\{\alpha,\beta\}$-code
    p(style='font-size: 24px')
      span.blue Step 2: 
      | There exists $\Delta$ s.t. $G$ after removing at most $\Delta$ vertices, is a $\Delta$-modification of a complete $p$-partite graph $K$
    p(style='font-size: 24px')
      span.blue Step 3: 
      | Obtain signed graph $G^\pm$ defined by $A_G - A_K$
    p(style='font-size: 24px')
      span.red Forbidden subgraph framework
      br
      | Given a 
      span.red finite 
      | family of $\mathcal{H}$ of signed graphs with largest eigenvalue $>\lambda$, can choose $\Delta$ s.t. $G^\pm$ does not contain any member in $\mathcal{H}$ as a subgraph
    p.fragment
      | For $\lambda < \lambda^*$, can choose $\mathcal{H}$ and $\Delta$ s.t.
      br
      | largest eigenvalue of $G^\pm$ is $\le \lambda$
    p.fragment
      span.blue J. and Polyanskii 2022: 
      | Matching upper bound for large $d$ when $\lambda < \lambda^*$
section
  section
    h3 Proof technique
  section(data-auto-animate)
    p $\mathcal{G}(\lambda) = \{$ graphs with smallest eigenvalue $\ge -\lambda \}$
    p
      | $\mathcal{G}(\lambda)$ can be defined by finite forbidden subgraphs
      br
      | if and only if $\lambda < \lambda^* \approx 2.01980$
    p.red Two cases
    p $\lambda < \lambda^*$ and $\lambda \ge \lambda^*$
  section
    p
      span.blue Case: 
      | For $\lambda < \lambda^*$, $\mathcal{G}(\lambda)$ can be defined by finite forbidden subgraphs
    p.fragment
      span.blue Step 1: 
      | Forbid $K_{1,5}$ because $\lambda_1(K_{1,5}) = -\sqrt{5}$
    p.fragment
      span.red Step 2 (Ramsey-type result): 
      | For every $\ell, m$ and $F$, for every sufficiently large $K_{1,5}$-free connected graph $G$, if $G$ contains $F$, then $G$ contains
      img(src='ext_family.png')
      span.fragment "Forbidding $(\ell, m)$-extensions of $F$ effectively forbids $F$ itself in sufficiently large connected graphs"
  section
    p
      span.blue Subcase: 
      | $2 \le \lambda < \lambda^*$
    p
      span.blue Step 1: 
      | Forbid $K_{1,5}$
    p
      span.blue Step 2: 
      | Forbidding $(\ell, m)$-extensions of $F$ effectively forbids $F$ itself in sufficiently large connected graphs
    p
      span.blue Step 3: 
      | Find $\ell, m$ such that all $(\ell, m)$-extensions of $F$ are disjoint from $\mathcal{G}(\lambda)$, for every minimal forbidden subgraph $F$ for "generalized line graphs"
  section
      img(src='forb_dn.png' width=550 style='margin: 0')
  section
    p
      span.blue Subcase: 
      | $2 \le \lambda < \lambda^*$
    p
      span.blue Step 1: 
      | Forbid $K_{1,5}$
    p
      span.blue Step 2: 
      | Forbidding $(\ell, m)$-extensions of $F$ effectively forbids $F$ itself in sufficiently large connected graphs
    p
      span.blue Step 3: 
      | Find $\ell, m$ such that all $(\ell, m)$-extensions of $F$ are disjoint from $\mathcal{G}(\lambda)$, for every minimal forbidden subgraph $F$ for "generalized line graphs"
    p
      span.blue Step 4: 
      | Forbid all these extensions
  section
    p
      span.blue Subcase: 
      | $\lambda < 2$
    p Computationally simpler, but conceptually complicated
    p.fragment ...
    p.fragment
      | Last step uses non-effective Ramsey-type result
      br
      span.blue Dickson's lemma 
      br
      | The poset $(\mathbb{N}^n, ≤)$ does not contain infinite antichains
  section
    p
      span.blue Case: 
      | For $\lambda \ge \lambda^*$, $\mathcal{G}(\lambda)$ cannot be defined by finite forbidden subgraphs
    p.fragment
      span.red Observation: 
      | if $\mathcal{G}(\lambda)$ can be defined by finite forbidden subgraphs, then $\mathcal{G}(\lambda + \varepsilon) \setminus \mathcal{G}(\lambda) = \varnothing$ for some $\varepsilon$
    p.fragment
      | Suffices to construct graphs to densely fill $(-\infty, -\lambda^*)$
      img(src='rowing.png' width=800)
section
  section
    h3 Open problems
    p.fragment
      span.blue Problem A: 
      | Classify all the connected graphs with smallest eigenvalue in $(-λ^*,-2)$. In particular, classify those that have sufficiently many vertices.
    p.fragment
      span.blue Problem B: 
      | Same problem but for signed graphs
    p.fragment
      span.blue Problem C: 
      | Prove matching upper bound for $N_{\alpha, \beta}(d)$ when $p \ge 3$ and $\lambda \ge \lambda^*$. Breaking the $\lambda^*$ barrier.