extends ../../layouts/head.pug

block meta_date
    - var head_title = "Negligible obstructions and Turán exponents"
    - var title = "Negligible obstructions<br>and Turán exponents"
    - var coauthors = "Tao Jiang and Jie Ma"
    - var theme = "simple"
block css
    link(rel='stylesheet' href='src/custom.css')
