extends ../layouts/default.pug

block head
  include src/head.pug
  - var institute = "Technion – Israel Institute of Technology"
  - var date = "June 5, 2018"
  - var email = "jiangzilin@technion.ac.il"

block main
  include src/main.pug
