extends ../../layouts/head.pug

block meta_data
    - var head_title = "Eigenvalue multiplicity and equiangular lines"
    - var title = "Eigenvalue multiplicity<br>and equiangular lines"
    - var theme = "serif"

block css
    link(rel='stylesheet' href='src/custom.css')
