section.title-slide(data-background-color="#121426")
  h3 !{title}
  p
    small Zilin Jiang
    if institute
      br
      small= institute
    if date
      br
      small= date
section
  section
    p
      span.green Equiangular lines 
      | in $\mathbb{R}^n$ 
      | are lines through origin 
      | pairwise separated by the same angle
    svg(width="300" height="204" viewBox="0,0 300,204")
      line(x1="100" y1="0" x2="100" y2="200" stroke="#121426" stroke-width="2")
      line(x1="100" y1="0" x2="100" y2="200" stroke="#121426" stroke-width="2" transform="rotate(60 100 100)")
      line(x1="100" y1="0" x2="100" y2="200" stroke="#121426" stroke-width="2" transform="rotate(120 100 100)")
    svg.fragment(viewBox="-102,-102 204,204" width="204" height="204")
      polygon(points="0,-100 86.6,-50 86.6,50 0,100 -86.6,50 -86.6,-50" fill="transparent" stroke="#121426" stroke-width=2)
      polygon(points="0,-55 43.3,20 -43.3,20" fill="transparent" stroke="#121426" stroke-width=2)
      path(d="M-86.6,-50 L0,-57 L86.6,-50 L44,21 L0,100 L-44,21 L-86.6,-50 M0,-57 L0,-100 M44,21 L86.6 50 M-44,21 L-86.6,50" fill="transparent" stroke="#121426" stroke-width=2)
      polygon(points="0,55 43.3,-20 -43.3,-20" fill="transparent" stroke="#121426" stroke-width=2 stroke-dasharray="5,5")
      path(d="M-86.6,50 L0,57 L86.6,50 L44,-21 L0,-100 L-44,-21 L-86.6,50 M0,57 L0,100 M44,-21 L86.6,-50 M-44,-21 L-86.6,-50" fill="transparent" stroke="#121426" stroke-width=2 stroke-dasharray="5,5")
    p.fragment
      | What's the 
      span.blue maximum 
      | number of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$?
    table.fragment.eighty-percent.td-centered
      tr
        td $n$
        td 2
        td.red 3-4
        td 5
        td 6
        td.red 7-14
        td ...
        td.red 23-41
        td 42
        td 43
      tr
        td max
        td 3
        td.red 6
        td 10
        td 16
        td.red 28
        td ...
        td.red 276
        td 276-288
        td 344
  section.eighty-percent
    p
      | What's the 
      span.blue maximum 
      | number of 
      span.green equiangular lines 
      | in $\mathbb{R}^n$?
    .flex-container
      .col
        .theorem(style="height:120px; margin-right: 10px")
          p Gerzon 1973
          p
            span.blue At most 
            | $\frac{1}{2}n(n+1)$
      .col
        .theorem.fragment(style="height:120px; margin-left: 10px")
          p de Caen 2000
          p
            span.blue At least 
            | $cn^2$
    p.fragment Angles $\to$ 90&deg; as $n\to\infty$
    p.fragment.red What happens if the angles are held fixed?
  section.eighty-percent
    p(style="margin-top: 0")
      | What's the 
      span.blue maximum 
      | number $E_\alpha(n)$ of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$ with a fixed angle $\arccos\alpha$?
    table
      tbody
        tr.fragment
          td Lemmens, Seidel 1973
          td $E_{1/3}(n) = 2(n-1)$ for $n \ge 15$
        tr.fragment
          td Neumann 1973
          td $E_{\alpha}(n) \le 2n$, unless $1/\alpha$ is odd
        tr.fragment
          td Neumaier 1989
          td $E_{1/5}(n) = \lfloor \frac{3}{2}(n-1) \rfloor$ for $n \ge n_0$
        tr.fragment
          td Bukh 2016
          td $E_{\alpha}(n) \le c_\alpha n$
        tr.fragment
          td
            | Balla, Dräxler, 
            br
            | Sudakov, Keevash 2018
          td
            | $E_{\alpha}(n) \le 1.93n$
            br
            | for $n \ge n_0(\alpha)$ if $\alpha \neq 1/3$
    .conjecture.fragment(style="margin-top: 1em")
      p Bukh's conjecture on equiangular lines with fixed angle
      p $E_{1/(2k-1)}(n) \approx \frac{kn}{k-1}$. $E_{1/7}(n) \approx \frac{4}{3}n$.
  section.eighty-percent
    p(style="margin-top: 0")
      | What's the 
      span.blue maximum 
      | number $E_\alpha(n)$ of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$ with a fixed angle $\arccos\alpha$?
    .conjecture
      p Conjecture J.–Polyanskii
      p $E_{\alpha}(n) \approx \frac{kn}{k-1}$, where $k = k(\lambda)$, $\lambda = \frac{1-\alpha}{2\alpha}$.
    p.fragment
      span.red Spectral radius order 
      | $k(\lambda) := $ smallest $k$ such that
      br
      | $\exists$ $k$-vertex graph $G$ whose adjacency matrix has spectral radius $\lambda$
    .flex-container
      .col
        table.fragment.td-centered
          tbody
            tr
              td $\alpha$
              td $\lambda$
              td $G$
              td $k$
              td $E_\alpha(n)$
            tr
              td $\tfrac{1}{3}$
              td $1$
              td
                svg(height=40 width=42 viewBox='-4 -8 38 40')
                  path(d="M0 16 L30 16" fill="transparent" stroke="#121426" stroke-width=2)
                  circle(cx=0 cy=16 r=4 fill="#121426")
                  circle(cx=30 cy=16 r=4 fill="#121426")
              td $2$
              td $2n$
            tr
              td $\tfrac{1}{5}$
              td $2$
              td
                svg(height=44 width=38 viewBox='-4 -10 38 44')
                  path(d="M15 0 L30 30 L0 30 L15 0" fill="transparent" stroke="#121426" stroke-width=2)
                  circle(cx=15 cy=0 r=4 fill="#121426")
                  circle(cx=30 cy=30 r=4 fill="#121426")
                  circle(cx=0 cy=30 r=4 fill="#121426")
              td $3$
              td $\tfrac{3n}{2}$
            tr
              td $\frac{1}{7}$
              td $3$
              td
                svg(viewBox='-4 -10 38 42' width=34 height=45)
                  path(d="M0 0 L30 0 L30 30 L0 30 L0 0 L30 30 M30 0 L0 30" fill="transparent" stroke="#121426" stroke-width=2)
                  circle(cx=30 cy=0 r=4 fill="#121426")
                  circle(cx=30 cy=30 r=4 fill="#121426")
                  circle(cx=0 cy=30 r=4 fill="#121426")
                  circle(cx=0 cy=0 r=4 fill="#121426")
              td $4$
              td $\tfrac{4n}{3}$
      .col
        .theorem.fragment(style="margin-top: 0.5em")
          p J.–Polyanskii 2018
          p True for all $\lambda \le \sqrt{2 + \sqrt{5}}$.
        svg.fragment(height=100 width=400)
          path(d="M0 50 L400 50" fill="transparent" stroke="#121426" stroke-width=2)
          circle(cx=50 cy=50 r=4 fill="#121426")
          path(d="M0 5 L10 5" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(45 30)")
          circle(cx=112 cy=50 r=4 fill="#121426")
          path(d="M0 10 L5 0 L10 10" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(107 30)")
          circle(cx=200 cy=50 r=4 fill="#121426")
          path(d="M5 0 L10 10 L0 10 L5 0" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(195 30)")
          circle(cx=350 cy=50 r=4 fill="#121426")
          path(d="M0 0 L10 0 L10 10 L0 10 L0 0 L10 10 M10 0 L0 10" fill="transparent" stroke="#121426" stroke-width=2 transform="translate(345 30)")
          g.fragment
            text(x="210" y="80" fill="#121426" font-size="0.75em" text-anchor="start") 2.058 barrier
            path(d="M210 50 L400 50"  fill="transparent" stroke="rgba(0,0,0,0.5)" stroke-width=8)
  section.eighty-percent
    p(style="margin: 0")
      | What's the 
      span.blue maximum 
      | number $E_\alpha(n)$ of
      br
      span.green equiangular lines 
      | in $\mathbb{R}^n$ with a fixed angle $\arccos\alpha$?
    .photo-with-tag
      img.simple(src="img/equiangular_team.png" style="border-radius: 8px")
      .tag(style="top: 250px; left: 275px") me
      .tag(style="top: 225px; left: 335px") Jonathan Tidor
      .tag(style="top: 220px; left: 450px") Yufei Zhao
      .tag(style="top: 240px; left: 525px") Yuan Yao
      .tag(style="top: 275px; left: 550px") Shengtong Zhang
    .theorem.fragment
      p J., Tidor, Yao, Zhang, Zhao 2021 Annals of Mathematics
      p
        | $E_\alpha(n) = \lfloor \frac{k}{k-1}(n-1) \rfloor$ for $n \ge n_0(\alpha)$ if $k(\lambda) < \infty$;
        br
        | $E_\alpha(n) = n+o(n)$ otherwise.
  section.eighty-percent
    .theorem
      p J., Tidor, Yao, Zhang, Zhao 2021 Annals of Mathematics
      p
        | $E_\alpha(n) = \lfloor \frac{k}{k-1}(n-1) \rfloor$ for $n \ge n_0(\alpha)$ if $k(\lambda) < \infty$;
        br
        | $E_\alpha(n) = n+o(n)$ otherwise.
    p
        span.red Spectral radius order 
        | $k(\lambda) := $ smallest $k$ such that
        br
        | $\exists$ $k$-vertex graph $G$ whose adjacency matrix has spectral radius $\lambda$
    ol
      li.fragment When $k < \infty$, proof needs $n \ge 2^{2^{C\lambda k}}$.<br>Balla showed $n \ge 2^{k^{Ck}}$; conjecturally $n \ge k^C$.
      li.fragment When $k = \infty$, $o(n) = O_{\alpha}(n/\log\log n)$.<br>Schildkraut constructed $\Omega_{\alpha}(\log\log n)$.
section
  section.eighty-percent
    h3 Connection to Spectral Graph Theory
    p
      | Equiangular lines in $\mathbb{R}^n$ with angle $\arccos\alpha$
      br
      | $\Leftrightarrow$ Unit vectors in $\mathbb{R}^n$ with inner product $\pm \alpha$
      br
      span.fragment(data-fragment-index="3") $\Leftarrow$
      span.fragment(data-fragment-index="1") $\Rightarrow$ Graph $G$, where $u \sim v$ in $G$ iff $\langle u, v\rangle = -\alpha$
      br
      span.fragment(data-fragment-index="2") s.t. $(1-\alpha) I - 2\alpha A_G + \alpha J \succeq 0$ and rank $\le n$
    p.fragment
      | Equivalently, given $\alpha$ and $n$, find $G$ with max order s.t.
      br
      | $(1-\alpha) I - 2\alpha A_G + \alpha J \succeq 0$ and rank $\le n$
    p.fragment
      span.green Example 
      | when $\alpha = 1/5$, take $\lfloor (n-1)/2 \rfloor$ copies of 
      svg(height=44 width=38 viewBox='-4 -10 38 44')
        path(d="M15 0 L30 30 L0 30 L15 0" fill="transparent" stroke="#121426" stroke-width=2)
        circle(cx=15 cy=0 r=4 fill="#121426")
        circle(cx=30 cy=30 r=4 fill="#121426")
        circle(cx=0 cy=30 r=4 fill="#121426")
  section.eighty-percent
    h3 Upper bound on $E_\alpha(n)$
    p Given $\alpha$ and $n$, find $G$ with max order s.t.
      br
      | $M := (1-\alpha) I - 2\alpha A_G + \alpha J \succeq 0$ and rank $\le n$
    p.fragment
      | Rank-nullity
      br
      | $E_\alpha(n) \le n + \mathrm{null}(M)$
      span.fragment $\le \mathrm{null}((1-\alpha) I - 2\alpha A_G) + n + 1$
    p.fragment Since $M \succeq 0$, $\lambda := \frac{1-\alpha}{2\alpha}$ could be
    ol.fragment
      li largest eigenvalue of $G$ (equality case)
      li
        span.red second 
        | largest eigenvalue of 
        span.red connected 
        | $G$ (need to rule out)
section
  section.eighty-percent
    p 
      | $\lambda := \frac{1-\alpha}{2\alpha}$ could be 
      span.red second 
      | largest eigenvalue of 
      span.red connected 
      | $G$
    p Switching $v$ to $-v$ in $\mathbb{R}^n$
    .theorem
      p Balla, Dräxler, Keevash, Sudakov 2018
      p Can switch so that max degree of $G$ $\le \Delta$
    br
    .theorem.fragment
      p J., Tidor, Yao, Zhang, Zhao 2021
      p
        | Multiplicity of 
        span.red second 
        | largest eigenvalue of an $n$-vertex 
        span.red connected 
        | graph of 
        span.red bounded degree 
        | is 
        span.blue at most 
        | $Cn/\log\log n$.
  section.eighty-percent
    h3 Sublinear Second Eigenvalue Multiplicity
    .theorem
      p J., Tidor, Yao, Zhang, Zhao 2021
      p
        | Multiplicity of 
        span.fragment.highlight-red(data-fragment-index=1) second 
        | largest eigenvalue of an $n$-vertex 
        span.fragment.highlight-red(data-fragment-index=2) connected 
        | graph of 
        span.fragment.highlight-red(data-fragment-index=3) bounded degree 
        | is 
        span.blue at most 
        | $Cn/\log\log n$.
    div(style="margin-top: 1em")
      svg.fragment(viewBox="-100 -100 200 200" width=200 height=200 data-fragment-index=1)
        polygon(points="0,-60 -52,-30 -52,30 0,60 52,30 52,-30" fill="transparent" stroke="#121426" stroke-width=2)
        g
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(60 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(120 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(180 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(-120 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
        g(transform="rotate(-60 0 0)")
          circle(cx=-20 cy=-80 r=4 fill="#121426")
          circle(cx=0 cy=-60 r=4 fill="#121426")
          circle(cx=20 cy=-80 r=4 fill="#121426")
          path(d="M-20,-80 L0,-60 L20,-80" fill="transparent" stroke="#121426" stroke-width=2)
      svg.fragment(viewBox='-100 -120 200 200' width=200 height=200 style="margin: 0 1em" data-fragment-index=2)
        g(transform="translate(0 -40)")
          polygon(points="0,-30 26,15 -26,15" fill="none" stroke="#121426" stroke-width=2)
          circle(cx=0 cy=-30 r=4 fill="#121426")
          circle(cx=26 cy=15 r=4 fill="#121426")
          circle(cx=-26 cy=15 r=4 fill="#121426")
        g(transform="translate(34.6 20)")
          polygon(points="0,-30 26,15 -26,15" fill="none" stroke="#121426" stroke-width=2)
          circle(cx=0 cy=-30 r=4 fill="#121426")
          circle(cx=26 cy=15 r=4 fill="#121426")
          circle(cx=-26 cy=15 r=4 fill="#121426")
        g(transform="translate(-34.6 20)")
          polygon(points="0,-30 26,15 -26,15" fill="none" stroke="#121426" stroke-width=2)
          circle(cx=0 cy=-30 r=4 fill="#121426")
          circle(cx=26 cy=15 r=4 fill="#121426")
          circle(cx=-26 cy=15 r=4 fill="#121426")
      svg.fragment(viewBox='-100 -110 200 200' width=200 height=200 data-fragment-index=3)
        polygon(points="0,-80 76.1,-24.7 47,64.7 -47,64.7 -76.1,-24.7" fill="transparent" stroke="#121426" stroke-width=2)
        circle(cx=0 cy=-80 r=4 fill="#121426")
        circle(cx=76.1 cy=-24.7 r=4 fill="#121426")
        circle(cx=47 cy=64.7 r=4 fill="#121426")
        circle(cx=-47 cy=64.7 r=4 fill="#121426")
        circle(cx=-76.1 cy=-24.7 r=4 fill="#121426")
        polygon(points="0,-40 23.5,32.4 -38,-12.4 38,-12.4 -23.5,32.4" fill="transparent" stroke="#121426" stroke-width=2)
        circle(cx=0 cy=-40 r=4 fill="#121426")
        circle(cx=38 cy=-12.4 r=4 fill="#121426")
        circle(cx=23.5 cy=32.4 r=4 fill="#121426")
        circle(cx=-23.5 cy=32.4 r=4 fill="#121426")
        circle(cx=-38 cy=-12.4 r=4 fill="#121426")
        path(d="M0,-80 L0,-40 M76.1,-24.7 L38,-12.4 M47,64.7 L23.5,32.4 M-47,64.7 L-23.5,32.4 M-76.1,-24.7 L-38,-12.4" stroke="#121426" stroke-width=2)
      p.fragment Haiman, Schildkraut, Zhang, Zhao 2022: constructed second eigenvalue multiplicity $\ge C\sqrt{n/\log_2 n}$; Cayley $\ge n^{2/5}$
  section.eighty-percent
    h3 Proof Sketch
    p
      | Multiplicity of 
      span.red second 
      | largest eigenvalue $\lambda$ of an $n$-vertex 
      span.red connected 
      | graph $G$ of 
      span.red bounded degree 
      | is 
      span.blue at most 
      | $Cn/\log\log n$.
    p.fragment $r = c\log\log n$ and $s = c \log n$
    ul
      li.fragment $H$ is $G$ with small $r$-net removed
      li.fragment
        | Radius $s$ balls in $H$ have spectral radius $\le (\lambda^{2r} - 1)^{1/2r}$
        br
        | Vertex removal lowers spectral radius
      li.fragment Bound $\mathrm{mult}(\lambda, H)$ via moments
      li.fragment
        | $\mathrm{mult}(\lambda, G) \le \mathrm{mult}(\lambda, H) + \lvert r\text{-net} \rvert = o(n)$
        br
        | by Cauchy interlacing
  section.eighty-percent
    p
      | What is the 
      span.blue maximum 
      | second eigenvalue multiplicity of 
      br
      | an $n$-vertex connected graph of bounded degree?
    p.fragment
      | McKenzie, Rasmussen, Srivastava 2021
      br
      | For 
      span.red regular 
      | graphs, $O(n/\log^c n)$
    p.fragment
      | What is the 
      span.blue maximum 
      | second eigenvalue multiplicity of 
      br
      | an $n$-vertex 
      span.red Cayley 
      | graph of bounded degree?
    p.fragment
      | Gromov, Colding–Minicozzi, Kleiner
      br
      | Lee–Makarychev: Constant for abelian groups
    p.fragment
      | What is the 
      span.blue maximum 
      | number of 
      span.green unit vectors 
      | in $\mathbb{R}^n$ such that pairwise inner products are either $\alpha$ or $\beta$?
section
  section.eighty-percent
    h3 Spherical Two-distance Sets
    p
      | $E_{\alpha, \beta}(n) = $ 
      span.blue maximum 
      | number of 
      span.green unit vectors 
      | in $\mathbb{R}^n$
      br
      | such that pairwise inner products are $\beta < 0 < \alpha$
    p.fragment Bukh 2005: $E_{\alpha, \beta}(n) = O_{\alpha,\beta}(n)$
    p.fragment
      span.red Problem 
      | Determine $\lim_{n\to\infty} E_{\alpha, \beta}(n) /n$
    p.fragment
      span.green Conjecture 
      | Depend on $k_p(\lambda)$ in terms of 
      span.red signed graphs
      br
      | where $p = \lfloor -\alpha/\beta\rfloor+1$ and $\lambda = (1-\alpha)/(\alpha - \beta)$
    p.blue.fragment Solved in special cases
    ul
      li.fragment J., Tidor, Yao, Zhang, Zhao 2023: $p \le 2$ or $\lambda = 1,\sqrt{2},\sqrt{3}$
      li.fragment
        | J., Polyanskii 2025: $\lambda < \lambda^* \approx 2.0198$
        br
        | $\lambda^* := \sqrt{\rho} + 1/\sqrt{\rho}$, where $\rho$ is root of $x^3 = x + 1$
  section.eighty-percent
    h3 Solution Framework
    ol
      li.fragment Local forbidden subgraphs: leverage Gram matrix $\succeq 0$
      li.fragment Global graph structure: Ramsey theory
        ul
          li Equiangular lines: bounded degree graph
          li
            | Spherical two-distance sets:
            br
            | complete $p$-partite XOR bounded degree
    p.fragment
      | Need new insights in spectral graph theory:
    ul
      li.fragment
        | Sublinear eigenvalue multiplicity is 
        span.red false 
        | for signed graphs
      li.fragment
        | J., Polyanskii 2025: local forbidden subgraphs alone can 
        span.red never 
        | break $\lambda^*$ barrier
      li.fragment
        | J., Wang 2026: local forbidden subgraphs + global graph structure can 
        span.red never 
        | break $\lambda^*$ barrier as soon as $p \ge 3$
section
  section.eighty-percent
    h3
      | Classification of graphs
      br
      | with eigenvalues $\ge -\lambda$
    ul
      li.fragment Cameron, Goethals, Seidel, and Shult 1976: $\lambda = 2$
      li.fragment J., Acharya 2025: $\lambda = \lambda^* \approx 2.0198$
      li.fragment
        span.red Problem 
        | Signed graphs with eigenvalues $\ge -\lambda^*$
  section.eighty-percent
    h3 Symmetric integer matrix
    ul
      li Vijayakumar 1987: Every symmetric hollow integer matrix has eigenvalue $<-2$ must have principal submatrix of order $\le 10$ with same property
      li.fragment
        | J. 2024: Determined $\lambda$ such that every every symmetric hollow integer matrix has eigenvalue $<-\lambda$ must have principal submatrix of bounded order with same property
        br
        span.red Problem 
        | Symmetric integer matrix with spectral radius $\le \lambda$
      li.fragment
        | Lehmer's conjecture, McKee and Smyth 2012
        br
        span.red Problem 
        | Classify all indecomposable integer symmetric matrices whose spectral radius in $(2, \sqrt{2 + \sqrt{5}})$ 
section
  section.eighty-percent
    h3 Other "Equiangular Lines"
    .conjecture.fragment
      p Zauner's conjecture 1999
      p 
        span.blue Maximum 
        | number of 
        span.green equiangular lines  
        | in $\mathbb{C}^n$ is $n^2$
    p.fragment Fixed angle: determine $\lim_{n\to\infty} E_\alpha^\mathbb{C}(n)/n$
    p.fragment Equiangular subspaces: configurations of $k$-dimensional subspaces in $\mathbb{R}^d$ with given pairwise angles
if date
  include ../../layouts/contact.pug