extends ../../layouts/head.pug

block meta_data
    - var head_title = "Forbidden subgraphs and equiangular lines"
    - var title = "Forbidden subgraphs<br>and equiangular lines"
    - var coauthors = "Alexandr Polyanskii"
    - var theme = "simple"

block css
    link(rel='stylesheet' href='src/custom.css')
