// --------------------------------------------------------------
// Box model
// --------------------------------------------------------------

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// --------------------------------------------------------------
// Base font size for REM
// --------------------------------------------------------------

html {
    font-size: 15px;
}
